<ul class="SponsorList" type="<%= locals[:type] %>">
<% events(locals[:event_slug]).partners(locals[:type]).each do |partner| %>
  <li class="SponsorList-Sponsor">
    <a class="SponsorList-Sponsor-Link" href="<%= partner.link %>">
      <img
        class="SponsorList-Sponsor-Image"
        src="<%= partner.image_path %>"
        alt="Logo of our Sponsor <%= partner.name %>"
        />
    </a>
  </li>
<% end %>
</ul>

