<%= partial 'keyvisual' %>
<main>
  <section>
    <h1>Our Conference</h1>
    <p>
    Think About! creates a safe and inspirational space for everyone, and we really mean <b>everyone</b>.
    </p>
    <p>
    We want to bring together diverse individuals and enable them to challenge themselves and each other.
    </p>
  </section>
  <section>
    <h1>Our Topics</h1>
    <ol>
      <li>
        <section topic="tech">
          <header>
            <figure></figure>
          </header>
          <h1>Think About<br> Tech!</h1>
          <p>
          Technology has become a part of nearly every aspect of human life. We will present quality talks from domain experts of software development, hardware and software hacking, internet of things and artificial intelligence and many more.
          </p>
        </section>
      </li><li>
        <section topic="design">
          <header>
            <figure></figure>
          </header>
          <h1>Think About<br> Design!</h1>
          <p>
          Nearly everything we use on a daily basis is designed - whether it's an app to monitor a menstrual cycle or an autonomous machine. With rapidly evolving technology comes a responsibilities towards society. We will cover topics such as design ethics, product &amp; UX design, art &amp; culture, ...
          </p>
        </section>
      </li><li>
        <section topic="society">
          <header>
            <figure></figure>
          </header>
          <h1>Think About<br> Society!</h1>
          <p>
          Technology and design continue to shape humanity as a whole. Topics like discrimination, social and economic equity, and participation in our society is more important than ever. We want to create a platform to talk and discuss these topics.
          </p>
        </section>
      </li>
    </ol>
  </section>
  <section>
    <h1>Our Speakers</h1>
    <p>
      Speakers will be announced soon..
    </p>
  </section>
  <section>
    <h1>Our Consensus</h1>
    <p>
      Every participation should feel well and secure during our conference.
    </p>
    <p>
      We will achieve this through a well crafted <b>Code of Conduct</b> and a specific <b>Anti-Harassment Policy</b> in combination with an <b>Awareness Team</b> on location.
      More information about this can be found here soon.
    </p>
  </section>
  <section>
    <h1>Our Location</h1>
    <h2>Cinenova, Cologne-Ehrenfeld</h2>
    <figure>
      <img src="/assets/cinenova.png" alt="The Cinenova Building at night, fully illuminated.">
    </figure>
    <p>
    The Conference will take place in a cozy cinema right in the center of the Ehrenfeld district in Cologne. It provides us with two big halls for talks, unlimited drinks, free popcorn and regional organic catering services.
    </p>
    <p>
    But do not worry about not seeing the sunlight: The Cinenova has a sunny outdoor area as well.
    </p>
  </section>
  <section>
    <h1>Ready for new Per&shy;spectives?</h1>
    <p>
    Our world should become a better and safer place for every human being -- regardless of their personal backgrounds and beliefs.
    </p>
    <p>
    <b>So let's come together and do something great!</b>
    </p>
  </section>
</main>
