<a href="/<%= lang %>/speakies/linda_rising.html"><section topic="keynote">
            <h4>Keynote</h4>
            <article>
              <p>"The Power of an Agile Mindset"<em> (EN)</em></p>
              <hr/>
              <header>
                <div>
                  <h1>Linda Rising</h1>
                  <p>Independent Consultant</p>
                </div><figure><img src="/assets/images/speaker/linda_rising.jpg" /></figure></header>
              </article>
          </section></a>
<a href="/<%= lang %>/speakies/susanne_kaiser.html"><section topic="keynote">
            <h4>Keynote</h4>
            <article>
              <p>"Preparing For a Future Microservices Journey"<em> (EN)</em></p>
              <hr/>
              <header>
                <div>
                  <h1>Susanne Kaiser</h1>
                  <p>Independent Consultant</p>
                </div><figure><img src="/assets/images/speaker/susanne_kaiser.jpg" /></figure></header>
              </article>
          </section></a>
<a href="/<%= lang %>/speakies/laura_kalbag_and_aral_balkan.html"><section topic="keynote">
            <h4>Keynote</h4>
            <article>
              <p>"Peerocracy"<em> (EN)</em></p>
              <hr/>
              <header>
                <div>
                  <h1>Laura Kalbag &shy;&amp; Aral Balkan</h1>
                  <p>Ind.ie</p>
                </div><figure><img src="/assets/images/speaker/laura_kalbag.jpg" /></figure><figure><img src="/assets/images/speaker/aral_balkan.jpg" /></figure></header>
              </article>
          </section></a>
<p><%= t('keynotes.more') %></p>
