<section topic="keynote">
  <h4>Keynote</h4>
  <article>
    <p>"The Power of an Agile Mindset"<em> (EN)</em></p>
    <hr/>
    <header>
      <div>
        <h1>Linda Rising</h1>
        <p><a href="http://lindarising.org/">Independent Consultant</a></p>
      </div><figure>
        <img src="/assets/images/speaker/linda_rising.png" />
      </figure></header>
    </article>
</section>
<section topic="keynote">
  <h4>Keynote</h4>
  <article>
    <p>"How to read code?"<em> (EN)</em></p>
    <hr/>
    <header>
      <div>
        <h1>Felienne Hermans</h1>
        <p><a href="http://www.felienne.com/">Leiden Institute of Adv. Computer Science</a></p>
      </div><figure>
        <img src="/assets/images/speaker/felienne_hermans.png" />
      </figure></header>
    </article>
</section>
<p><%= t('keynotes.more') %></p>
