<section topic="keynote">
  <article>
    <header>
      <figure>
        <img src="/assets/images/speaker/felienne_hermans.png" />
      </figure>
      <div>
        <h4>Keynote</h4>
        <p>"How to read code?"</p>
        <a href="http://www.felienne.com/">Felienne Hermans</a>
      </div>
    </header><div>
      <p>Felienne is associate professor at the Leiden Institute of Advanced Computer       Science at Leiden University, where she heads a research group on programming      education. What cognitive skills are needed for programming? What misconceptions   can occur when children are learning to program?
These are some of the questions that intrigue Felienne.</p>
    </div>
  </article>
</section>
<section topic="keynote">
  <article>
    <header>
      <figure>
        <img src="/assets/images/speaker/linda_rising.png" />
      </figure>
      <div>
        <h4>Keynote</h4>
        <p>"The Power of an Agile Mindset"</p>
        <a href="http://lindarising.org/">Linda Rising</a>
      </div>
    </header><div>
      <p>With a Ph.D. from Arizona State University in object-based design metrics,
Linda’s background includes university teaching and industry work. An
internationally known presenter on topics related to patterns, agile
development, the change process, and how your brain works, Linda is the author
of numerous articles and five books. The latest: More Fearless Change, written
with Mary Lynn Manns.</p>
    </div>
  </article>
</section>
