<header>
  <section>
    <div class="centered">
      <%= content 'elevator'  %>
      <% if feature? :preview %>
      <a button href="tickets.html"><%= t('nav.tickets') %></a>
      <% else %>
      <p><strong><%= t('tickets.tba') %></strong></p>
      <% end %>
    </div>
  </section>
</header>
