    <nav desktop>
      <div>
        <a href="/"><img src="/assets/images/logo.svg" alt="Think About! Logo"/></a>
        <ul>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/about-us.html"><%= t('nav.about-us') %></a></li>
          <li><a href="/tickets.html"><%= t('nav.tickets') %></a></li>
        </ul>
      </div>
    </nav>
    <% if is_landing_page? || is_event? %>
      <nav mobile>
    <% else %>
      <nav mobile dark>
    <% end %>
      <div>
        <% if is_landing_page? || is_event? %>
          <a href="#footer"><img src="/assets/images/menu.svg"/></a>
        <% else %>
          <a href="#footer"><img src="/assets/images/menu-dark.svg"/></a>
        <% end %>
      </div>
    </nav>

