    <nav desktop>
      <div>
        <a href="/"><img src="/assets/images/logo.svg" alt="Think About! Logo"/></a>
        <ul>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/about-us.html"><%= t('nav.about-us') %></a></li>
          <li><a href="https://shop.spreadshirt.de/think-about-shop/"><%= t('nav.shop') %></a></li>
        </ul>
      </div>
    </nav>
    <nav mobile <%= !url.empty? && url != 'index.html' && url != '/' ? 'dark' : ''%>>
      <div>
        <% if !url.empty? && url != 'index.html' && url != '/' %>
          <a href="#footer"><img src="/assets/images/menu-dark.svg"/></a>
        <% else %>
          <a href="#footer"><img src="/assets/images/menu.svg"/></a>
        <% end %>
      </div>
    </nav>

