<div>
  <h1><%= t('partners.title') %></h1>
  <% data('partners').reject { |p| p[:hidden] }.each do |partner| %>
    <section>
      <a href="<%= partner[:link] %>">
        <figure>
          <img src="/assets/images/partner/<%= partner[:name] %>.png"/>
        </figure>
      </a>
    </section>
  <% end %>
</div>
