<section topic="society">
  <article>
    <h4>Society Talk</h4>
    <p>"[Tbd.] Highway to the Dangerzone"</p>
    <hr/>
    <header>
      <div>
        <h1>Jenz Mau</h1>
        <p><a href="https://maubeschau.de/">Maubeschau</a>
      </div><figure>
        <img src="/assets/images/speaker/jenz_mau.png" />
      </figure></header>
  </article>
</section>
<section topic="tech">
  <article>
    <h4>Tech Talk</h4>
    <p>"Privacy in Software: How to design and implement privacy by default"</p>
    <hr/>
    <header>
      <div>
        <h1>Emma Arfelt</h1>
        <p><a href="https://twitter.com/emmaarfelt">Twitter</a>
      </div><figure>
        <img src="/assets/images/speaker/emma_arfelt.png" />
      </figure></header>
  </article>
</section>
<section topic="design">
  <article>
    <h4>Design Talk</h4>
    <p>"Zukunftsbilder und menschzentriertes Design"</p>
    <hr/>
    <header>
      <div>
        <h1>Wilhelm Rinke</h1>
        <p><a href="https://www.berliner-ideenlabor.de/">Berliner Ideenlabor</a>
      </div><figure>
        <img src="/assets/images/speaker/wilhelm_rinke.png" />
      </figure></header>
  </article>
</section>
<section topic="society">
  <article>
    <h4>Society Talk</h4>
    <p>"think.about: Wie beeinflusst das Smartphone unsere Psyche und wie können wir lernen besser damit umzugehen?"</p>
    <hr/>
    <header>
      <div>
        <h1>Muriel Böttger</h1>
        <p><a href="https://murielboettger.com/">Share & Grow</a>
      </div><figure>
        <img src="/assets/images/speaker/muriel_boettger.png" />
      </figure></header>
  </article>
</section>
<section topic="society">
  <article>
    <h4>Society Talk</h4>
    <p>"[Tbd.] Premium OS"</p>
    <hr/>
    <header>
      <div>
        <h1>Gregor May</h1>
        <p><a href="#">TODO</a>
      </div><figure>
        <img src="/assets/images/speaker/gregor_may.png" />
      </figure></header>
  </article>
</section>
<section topic="tech">
  <article>
    <h4>Tech Talk</h4>
    <p>"[Tbd.] How to avoid discriminating algorithms"</p>
    <hr/>
    <header>
      <div>
        <h1>Anika Zeidler</h1>
        <p><a href="#">TODO</a>
      </div><figure>
        <img src="/assets/images/speaker/anika_zeidler.png" />
      </figure></header>
  </article>
</section>
<section topic="society">
  <article>
    <h4>Society Talk</h4>
    <p>"[Tbd.] "</p>
    <hr/>
    <header>
      <div>
        <h1>Eileen Wagner</h1>
        <p><a href="#">TODO</a>
      </div><figure>
        <img src="/assets/images/speaker/eileen_wagner.png" />
      </figure></header>
  </article>
</section>
<section topic="design">
  <article>
    <h4>Design Talk</h4>
    <p>"Produkte gegen die eigene Moral - Über kognitive Dissonanz im Produktdesign"</p>
    <hr/>
    <header>
      <div>
        <h1>Gerri Buchegger</h1>
        <p><a href="https://muehle-design.com/">Mühle Design</a>
      </div><figure>
        <img src="/assets/images/speaker/gerri_buchegger.png" />
      </figure></header>
  </article>
</section>
<section topic="tech">
  <article>
    <h4>Tech Talk</h4>
    <p>"Intranet of Things"</p>
    <hr/>
    <header>
      <div>
        <h1>Sebastian Golasch</h1>
        <p><a href="https://telekom.de/">Telekom</a>
      </div><figure>
        <img src="/assets/images/speaker/sebastian_golasch.png" />
      </figure></header>
  </article>
</section>
<section topic="tech">
  <article>
    <h4>Tech Talk</h4>
    <p>"Hack Society - Wie wir mit Code gesellschaftliche Probleme lösen können"</p>
    <hr/>
    <header>
      <div>
        <h1>Maren Heltsche</h1>
        <p><a href="https://speakerinnen.org">Speakerinnen.org</a>
      </div><figure>
        <img src="/assets/images/speaker/maren_heltsche.png" />
      </figure></header>
  </article>
</section>
<section topic="society">
  <article>
    <h4>Society Talk</h4>
    <p>"Automatisation and the impact on the working class"</p>
    <hr/>
    <header>
      <div>
        <h1>Christoph Hassler</h1>
        <p><a href="https://www.thoughtworks.com/">ThoughtWorks</a>
      </div><figure>
        <img src="/assets/images/speaker/christoph_hassler.png" />
      </figure></header>
  </article>
</section>
