<section topic="society">
  <article>
    <header>
      <div>
        <h1>Christoph Hassler</h1>
        <p><a href="https://www.thoughtworks.com/">ThoughtWorks</a>
      </div><figure>
        <img src="/assets/images/speaker/christoph_hassler.png" />
      </figure>
    </header>
    <hr/>
    <h4>Society Talk</h4>
    <p>"Automatisation and the impact on the working class"</p>
  </article>
</section>
<section topic="tech">
  <article>
    <header>
      <div>
        <h1>Sebastian Golasch</h1>
        <p><a href="https://telekom.de/">Telekom</a>
      </div><figure>
        <img src="/assets/images/speaker/sebastian_golasch.png" />
      </figure>
    </header>
    <hr/>
    <h4>Tech Talk</h4>
    <p>"Intranet of Things"</p>
  </article>
</section>
<section topic="design">
  <article>
    <header>
      <div>
        <h1>Gerri Buchegger</h1>
        <p><a href="https://muehle-design.com/">Mühle Design</a>
      </div><figure>
        <img src="/assets/images/speaker/gerri_buchegger.png" />
      </figure>
    </header>
    <hr/>
    <h4>Design Talk</h4>
    <p>"Produkte gegen die eigene Moral - Über kognitive Dissonanz im Produktdesign"</p>
  </article>
</section>
<section topic="tech">
  <article>
    <header>
      <div>
        <h1>Maren Heltsche</h1>
        <p><a href="https://speakerinnen.org">Speakerinnen.org</a>
      </div><figure>
        <img src="/assets/images/speaker/maren_heltsche.png" />
      </figure>
    </header>
    <hr/>
    <h4>Tech Talk</h4>
    <p>"[Tbd.] Warum es sich lohnt, Programmierer*in zu werden"</p>
  </article>
</section>
<section topic="society">
  <article>
    <header>
      <div>
        <h1>Muriel Böttger</h1>
        <p><a href="https://murielboettger.com/">Share & Grow</a>
      </div><figure>
        <img src="/assets/images/speaker/muriel_boettger.png" />
      </figure>
    </header>
    <hr/>
    <h4>Society Talk</h4>
    <p>"think.about: Wie beeinflusst das Smartphone unsere Psyche und wie können wir lernen besser damit umzugehen?"</p>
  </article>
</section>
<section topic="design">
  <article>
    <header>
      <div>
        <h1>Wilhelm Rinke</h1>
        <p><a href="https://www.berliner-ideenlabor.de/">Berliner Ideenlabor</a>
      </div><figure>
        <img src="/assets/images/speaker/wilhelm_rinke.png" />
      </figure>
    </header>
    <hr/>
    <h4>Design Talk</h4>
    <p>"Zukunftsbilder und menschzentriertes Design"</p>
  </article>
</section>
