<div>
  <h1><%= t('universe-sponsors.title') %></h1>
  <div>
    <% data('universe-sponsors').each do |sponsor| %>
    <% path = "/assets/images/partner/#{sponsor[:name]}.png" %>
    <% height = sponsor.fetch :height, 70 %>
    <% href = sponsor[:link] %>
    <a href="<%= href %>"><figure><img style="height: <%= height %>px" src="<%= path %>"/></figure></a>
    <% end %>
  </div>
  <span note>Interested in becoming a sponsor? More info <a href="/assets/docs/think-about-sponsoring.pdf">here</a></span>
</div>
