<div>
  <h1>Our Universe Sponsors</h1>
  <div>
    <a href="#"><figure><img src="/assets/images/partner/beyondtellerrand.png"/></figure></a>
    <a href="#"><figure><img src="/assets/images/partner/spacepilots.png"/></figure></a>
  </div>
</div>
