    <div class="centered">
    <%= content 'updates' %>
    <form method="get" action="/goto/newsletter">
      <input type="email" name="email" placeholder="<%= t('newsletter.placeholder') %>"/>
      <input type="submit" value="Subscribe"/>
    </form>
    <figure>
      <img src="/assets/images/buddies.svg" alt="Think About! Monsters">
    </figure>
    <span note><%= t('newsletter.software') %> <a href="https://mailtrain.org/">Mailtrain</a></span>
    </div>
