.container {
  max-width: $page-width;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: $page-width) {
  .container {
    padding-left: $spacer-3;
    padding-right: $spacer-3;
  }
}

