/* Element reset and defaults */
html {
  font-size: 20px;
  box-sizing: border-box;
}

body {
  margin: 0;
}

*, *:before, *:after {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  color: #223866;
  box-sizing: inherit;
  padding: 0;
}

h1, h2 {
  font-weight: 700;
}

figure {
  margin: 0
}

/* Main column layout */

main {
  max-width: 980px;
  margin: 0 auto;
}

section > *:not(ol) {
  padding-left: 10%;
  padding-right: 10%;
}

li {
  list-style-type: none;
  vertical-align: top;
  max-width: 31.33%;
  display: inline-block;
  box-shadow: 0px 10px 20px #ddd;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2rem;
}

/* 1st level headlines */

section h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
}

/* 2nd level headlines */

section section h1, section h2 {
  font-family: 'Roboto', serif;
  font-size: 1.5rem;
}

/* global header styling */
main > header {
  background-color: #acd3ff;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

main > header h1 img {
  width: 50%;
  max-width: 200px;
}

main > header p {
  font-size: 1.3rem;
}

/* nested section styling */
section section header {
  padding-left: 0;
  padding-right: 0;
}

section section *:not(header) {
  padding-left: 2%;
  padding-right: 2%;
}

section section p {
  font-size: 0.8rem;
}

section section * {
  text-align: left;
}

section section h1::after {
  content: " ";
  display: block;
  margin: 1em 0;
  height: 0.2em;
  width: 2em;
}

/* section header styling */
section header figure {
  min-height: 100px;
  width: 100%;
  display: inline-block;
}


/* breakpoints */
@media (max-width: 979px) {
li {
  max-width: 47%;
}
}

@media (max-width: 699px) {
li {
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
}

/* weird colors for better testing */

ol {
  background-color: lightpink;
}

section > *:not(ol) {
  background-color: NavajoWhite;
}

main > section, main > header > section {
  background-color: LemonChiffon;
}
