/* Element reset and defaults */
html {
  font-size: 20px;
  box-sizing: border-box;
}

*, *:before, *:after {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  color: #223866;
  box-sizing: inherit;
  padding: 0;
}

h1, h2 {
  font-weight: 700;
}

/* Main column layout */

main {
  max-width: 980px;
  margin: 0 auto;
}

section > *:not(ol) {
  padding-left: 10%;
  padding-right: 10%;
}

section section > * {
  padding-left: 0;
  padding-right: 0;
}

li {
  list-style-type: none;
  vertical-align: top;
  display: inline-block;
  max-width: 33.33%;
}

/* 1st level headlines */

section h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
}

/* 2nd level headlines */

section section h1, section h2 {
  font-family: 'Roboto', serif;
  font-size: 1.5rem;
}

/* global header styling */
main > header p {
  font-size: 1.3rem;
}

/* nested section styling */
section section p {
  font-size: 0.8rem;
}

section section * {
  text-align: left;
}

/* breakpoints */
@media (max-width: 979px) {
li {
  max-width: 46%;
}
}

@media (max-width: 599px) {
li {
  max-width: 98%;
}
}

/* weird colors for better testing */

ol {
  background-color: lightpink;
}

section > *:not(ol) {
  background-color: NavajoWhite;
}

main > section, main > header > section {
  background-color: LemonChiffon;
}
