<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Think About! Conference 2019</title>
    <link rel="stylesheet" href="/css/fonts.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav>
      <% if lang == "en" %>
        <a href="/de/">DE</a>
      <% else %>
        <a href="/en/">EN</a>
      <% end %>
    </nav>
    <%= main %>
    <footer>
      <section>
         <a href="/<%= lang %>/about.html">Imprint</a>
         <a href="/<%= lang %>/privacy.html">Privacy</a>
      </section>
    </footer>
  </body>
</html>

