<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Think About! Conference 2019</title>
    <link rel="stylesheet" href="/css/fonts.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav>
      <a href="/de/">DE</a>
    </nav>
    <%= content %>
    <footer>
      <section>
         <a href="/en/about.html">Imprint</a>
         <a href="/en/privacy.html">Privacy</a>
      </section>
    </footer>
  </body>
</html>

