<main>
  <section class="Textbox Textbox-small">
    <div class="container">
      <h1>Think About! 2019</h1>
      <p>
      Creating an event that is driven by our values was the main motivation for the
      <b>Think About! 2019</b>. This event was mainly focussed on four values:
      Diversity, Awareness, Solidarity and Privacy.
      </p>
      <p>
      <b>Thanks again</b> to everyone who helped making the first edition of the
      Think About! possible. Without you the event would not have been as amazing,
      inspiring and magical as it was.
      </p>
    </div>
  </section>
  <section class="speakers">
    <div class="container">
    <div class="keynotes" id="keynotes">
      <h1 id="recordings">Talk Recordings</h1>
      <% keynotes('2019').each do |talk| %>
      <% next unless talk_recorded? '2019', talk[:person_slug] %>
      <a href="<%= "/events/2019/speakers/#{talk[:person_slug]}.html" %>">
        <section topic="<%= talk[:track].downcase %>">
          <h4><%= talk[:track].capitalize %></h4>
          <article>
            <p>"<%= talk[:title] %>"<em> (<%= talk[:lang].upcase %>)</em></p>
            <hr/>
            <header>
              <div>
                <h1><%= talk[:person] %></h1>
                <p><%= talk[:company] %></p>
              </div>
              <% talk[:images].each do |image| %>
              <figure>
                <img src="<%= "/images/events/2019/speakers/#{image}.jpg" %>" />
              </figure>
              <% end %>
            </header>
          </article>
        </section>
      </a>
      <% end %>
    </div>
    <div class="talks">
      <% talks('2019').each do |talk| %>
      <% next unless talk_recorded? '2019', talk[:person_slug] %>
      <section topic="<%= talk[:track].downcase %>">
        <a href="<%= "/events/2019/speakers/#{talk[:person_slug]}.html" %>"><article>
          <h4><%= talk[:track].capitalize + ' Talk' %></h4>
          <p>"<%= talk[:title] %>"<em> (<%= talk[:lang].upcase %>)</em></p>
          <hr/>
          <header>
            <div>
              <h1><%= talk[:person] %></h1>
              <p><%= talk[:company] %></p>
            </div>
            <% talk[:images].each do |image| %>
            <figure>
              <img src="<%= "/images/events/2019/speakers/#{image}.jpg" %>" />
            </figure>
            <% end %>
          </header>
        </article></a>
      </section>
      <% end %>
    </div>
    </div>
  </section>
  <section class="universe-sponsors">
    <%= partial 'universe_sponsors' %>
  </section>
  <section class="Textbox">
    <div class="container">
      <h1 id="pictures">Pictures</h1>

      <%= partial 'gallery', locals: { path: 'source/images/events/2019/images/*.jpg' } %>

      <a button href="https://cdn.think-about.io/Think-About-2019.zip">Download all 407 Images (1.16GB)</a>
      <span note>
      We are using the <a href="https://creativecommons.org/licenses/by-nc/4.0/">Attribution-NonCommercial License</a> which means that you can share, copy and redistribute the material in any medium or format and adapt, remix, transform, and build upon the material. You can do that under the following terms: You must give appropriate credit, provide a link to the license, and indicate if changes were made. And you may not use the material for commercial purposes.
      </span>
      <span note>
        All pictures taken by <a href="https://www.mimivollgraf.com/">Mimi</a> and <a href="https://twitter.com/y_0_s_h">y0sh</a>.
      </span>
    </div>
  </section>
  <section class="rocket-sponsors">
    <%= partial 'rocket_sponsors' %>
  </section>
  <section class="blog">
    <div class="container">
      <h1>Media Coverage</h1>
      <% data.events['2019'].media .each do |media| %>
      <a href="<%= media[:url] %>">
        <section>
          <div>
            <img src="<%= media[:image] %>" />
          </div>
          <div>
            <span><%= media[:author] %></span>
            <h1><%= media[:title] %></h1>
            <p><%= media[:text] %></p>
            <span>Read more</span>
          </div>
        </section>
      </a>
      <% end %>
    </div>
  </section>

  <section class="Textbox Textbox-small">
    <%= partial 'updates' %>
  </section>

</main>
<%= partial 'gallery_code' %>
