<main>
  <section class="Textbox">
    <div class="container">
      <h1>Think About! 2020</h1>
      <p>
        <b>We heavy heartedly decided to cancel this event<br><a button target="_blank" href="/blog/corona.html">Read More</a></b>
      </p>
    </div>
  </section>
  <section class="speakers">
    <div class="container">
      <div class="keynotes">
        <h1 id="keynotes">Keynotes</h1>
        <% events('2020').keynotes.each do |keynote| %>
        <a href="<%= keynote.path %>">
          <section topic="<%= keynote.track.slug %>">
            <h4>Keynote</h4>
            <article>
              <% if keynote.title? %>
              <p>"<%= keynote.title %>"<em> (<%= keynote.language %>)</em></p>
              <% else %>
              <p><%= keynote.title %><em> (<%= keynote.language %>)</em></p>
              <% end %>
              <hr/>
              <header>
                <div>
                  <h1><%= keynote.joined_speaker_names %></h1>
                  <p><%= keynote.joined_company_names %></p>
                </div>
                <% keynote.speakers.each do |speaker| %>
                <figure>
                  <img src="<%= speaker.image_path %>" />
                </figure>
                <% end %>
              </header>
            </article>
          </section>
        </a>
        <% end %>
        <span note>And one more...</span>
      </div>
      <div class="talks">
        <h1 id="talks">Talks</h1>
        <% events('2020').talks.each do |talk| %>
        <section topic="<%= talk.track.slug %>">
          <a href="<%= talk.path %>"><article>
            <h4><%= talk.track.readable + ' Talk' %></h4>
            <% if talk.title? %>
            <p>"<%= talk.title %>"<em> (<%= talk.language %>)</em></p>
            <% else %>
            <p><%= talk.title %><em> (<%= talk.language %>)</em></p>
            <% end %>
            <hr/>
            <header>
              <div>
                <h1><%= talk.joined_speaker_names %></h1>
                <p><%= talk.joined_company_names %></p>
              </div>
              <% talk.speakers.each do |speaker| %>
              <figure>
                <img src="<%= speaker.image_path %>" />
              </figure>
              <% end %>
            </header>
          </article></a>
        </section>
        <% end %>
      </div>
    </div>
  </section>

  <section class="Textbox SponsorPage">
    <div class="container">
      <%= partial 'sponsors/gold' %>
    </div>
  </section>

  <section class="Textbox">
    <div class="container">
      <h1 id="pictures">The Location</h1>
      <p class="ImageGallery-description">
        The <a href="https://cinenova.de/">Cinenova Cinema</a> has two beautiful
        and cozy theaters inside, which will be the two stages for our tracks.
        Additionally, it has beautiful outdoor and indoor areas to hang out, have
        some drinks and eat delicious icecream.
      </p>
      <%= partial 'gallery', locals: { path: 'source/images/venue/location/*.jpg' } %>
    </div>
  </section>
  <section class="Textbox">
    <div class="container">
      <h1>The Food</h1>
      <p class="ImageGallery-description">
        The ticket includes breakfast, lunch and cake &mdash; together with
        drinks, coffee, icecream and popcorn.
      </p>
      <p class="ImageGallery-description">
        The food is locally sourced, organic and freshly provided by our caterer.
        All available options are vegan and vegetarian.
      </p>
      <%= partial 'gallery', locals: { path: 'source/images/venue/food/*.jpg' } %>
    </div>
  </section>

  <section class="Textbox SponsorPage">
    <div class="container">
      <%= partial 'sponsors/silver' %>
    </div>
  </section>

  <section class="blog">
    <div class="container">
      <h1>Media Coverage of past Events</h1>
      <% data.events['2019'].media .each do |media| %>
      <a href="<%= media[:url] %>">
        <section>
          <div>
            <img src="<%= media[:image] %>" />
          </div>
          <div>
            <span><%= media[:author] %></span>
            <h1><%= media[:title] %></h1>
            <p><%= media[:text] %></p>
            <span>Read more</span>
          </div>
        </section>
      </a>
      <% end %>
    </div>
  </section>

  <section class="Textbox SponsorPage">
    <h1>Sponsors</h1>
    <div class="container">
      <%= partial 'sponsors/others' %>
      <%= partial 'sponsors/speaker' %>
      <%= partial 'sponsors/media' %>
    </div>
  </section>

  <section class="Textbox Textbox-small">
    <%= partial 'updates' %>
  </section>

</main>
<%= partial 'gallery_code' %>
