<main>
  <section class="Events">
    <div class="container">
      <h1 class="Events-title">Events</h1>
      <p style="padding: 0rem 2rem 0rem 2rem; text-align: center;">
        Check our <a href="/goto/meetup">meetup page</a> for the next community event:
<br>
        <b><a button target="_blank" href="/goto/meetup">Our Meetups</a></b>
      </p>
      <div class="Events-list">
        <a href="/events/2020.html" class="Events-event">
          <figure class="Events-event-image"><img src="/images/events/2020.jpg"/></figure>
          <div class="Events-event-content">
            <h1 class="Events-event-title">Think About! 2020</h1>
            <span class="Events-event-subtitle">June 4th &amp; 5th 2020 in Cologne</span>
            <p>
              The Think About! is a 2 day conference presenting 24 Talks and 2 Workshops.
            </p>
            <p>
            <b>This event was canceled in March 2020 due to the COVID19 outbreak.</b>
            </p>
            <span class="Events-event-more">Read more</span>
          </div>
        </a>
        <a href="/events/2019.html" class="Events-event">
          <figure class="Events-event-image"><img src="/images/events/2019.jpg"/></figure>
          <div class="Events-event-content">
            <h1 class="Events-event-title">Think About! 2019</h1>
            <span class="Events-event-subtitle">May 23rd &amp; 24th in Cologne</span>
            <p>
              At the first Think About! Conference 170 people came together to watch amazing speakers such as Linda Rising, Laura Kalbag, Aral Balkan and many many more.
            </p>
            <span class="Events-event-more">Read more</span>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section class="Textbox Textbox-small">
    <%= partial 'updates' %>
  </section>
</main>


