<main>
  <section class="Events">
    <div class="container">
      <h1 class="Events-title">Past Events</h1>
      <div class="Events-list">
        <a href="/events/2019.html" class="Events-event">
          <figure class="Events-event-image"><img src="/images/events/2019.jpg"/></figure>
          <div class="Events-event-content">
            <h1 class="Events-event-title">Think About! 2019</h1>
            <span class="Events-event-subtitle">May 23rd &amp; 24th in Cologne</span>
            <p>
              At the first Think About! Conference 170 people came together to watch amazing speakers such as Linda Rising, Laura Kalbag, Aral Balkan and many many more.
            </p>
            <span class="Events-event-more">Read more</span>
          </div>
        </a>
      </div>
    </div>
  </section>
  <section class="Textbox Textbox-small">
    <%= partial 'updates' %>
  </section>
</main>


