@import 'basics/_sizes.css';
@import 'basics/_colors.css';
@import 'basics/_container.css';

@import 'components/_header.css';
@import 'components/_keyvisual.css';
@import 'components/_events.css';
@import 'components/_textbox.css';
@import 'components/_bordered_list.css';
@import 'components/_image_gallery.css';
@import 'components/_footer.css';
@import 'components/_sponsorlist.css';
@import 'components/_sponsorpage.css';

html {
  font-size: 20px;
  box-sizing: border-box;
  min-height: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-color: white;
  min-height: 100%;
  position: relative;
}

*, *:before, *:after {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #4a4a4a;
  box-sizing: inherit;
  padding: 0;
  letter-spacing: 0.02rem;
}

h1:first-child,
h2:first-child,
h3:first-child {
  margin-top: 0;
}

h1, h2, h3, h1 *, h2 *, h3 * {
  font-weight: 700;
  letter-spacing: 0.05rem;
  font-size: 1.7rem;
  font-style: normal;
  color: #0e003b;
}

h2, h2 * {
  font-size: 1.3rem;
}

h3, h3 * {
  font-size: 1rem;
}

h4 {
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 0.8rem;
  font-style: normal;
  text-transform: uppercase;
  margin-top: 0;
}

hr {
  border: 0;
  height: 1px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a {
  outline : none;
}

article {
  margin: 0;
}

figure {
  margin: 0;
}

b, strong,
b a, strong a {
  font-weight: 700;
}

p {
  line-height: $line-height-regular;
}

ul li {
  line-height: $line-height-regular;
}

section > div.centered {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

main > section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

main > section:nth-child(odd) {
  background-color: #f9f9f9;
}

main > section > h1 {
  text-align: center;
}

main > section > a:last-child {
  margin-left: 50%;
  transform: translateX(-50%);
}

a[button] ,
form input[type=submit] {
  background-color: #6b3cff !important;
  border: 0 !important;
  color: white !important;
  font-size: 0.8rem !important;
  font-weight: 700 !important;
  padding: 0.5rem 1.5rem !important;
  border-radius: 1rem !important;
  margin: 1rem !important;
  cursor: pointer !important;
  text-decoration: none !important;
  display: inline-block !important;
  line-height: 1rem !important;
}

form input {
  border: 1px solid #6b3cff !important;
  color: #4a4a4a !important;
  font-size: 0.8rem !important;
  padding: 0.5rem 1rem !important;
  border-radius: 1rem !important;
  margin: 1rem 0 !important;
  cursor: pointer !important;
  text-decoration: none !important;
  display: inline-block !important;
  line-height: 1rem !important;
}

span[note],
span[note] a {
  color: #9b9b9b;
  font-size: 0.7rem;
}

span[inactive],
span[inactive] a {
  color: #9b9b9b;
}

span[note] {
  display: block;
  margin-bottom: 0.7rem;
}

a[button]:hover ,
form input[type=submit]:hover {
  background-color: #4a00d0;
  text-decoration: none;
}

a[button][light] {
  background-color: white;
  color: #470076;
  border: 2px solid #470076;
  margin: 0.5rem;
}

a[button][light]:hover {
  background-color: #470076;
  color: white;
  text-decoration: none;
}

/*
body > footer {
  text-align: center;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #470076;
  position: relative;
}

body > footer a {
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
}

body > footer nav {
  background-color: #470076;
  color: white;
}

body > footer nav * {
  color: white;
}

body > footer nav > a:first-child {
  display: none;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

body > footer nav > a:first-child img {
  width: 1.2rem;
}

body > footer nav img {
  width: 110px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

body > footer nav ul {
  list-style: none;
}

body > footer nav > div a {
  box-sizing: border-box;
  margin: 0;
  padding-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

body > footer nav > div a img {
  width: 1.2rem;
  height: 1.2rem;
  margin: 0;
}
*/

section.universe-sponsors * {
  text-align: center;
}

section.universe-sponsors a ,
section.universe-sponsors figure {
  display: inline-block;
  margin: 0;
  padding: 0;
}

section.universe-sponsors figure img {
  margin: 2rem 1rem;
}

section.universe-sponsors div > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

section.rocket-sponsors * {
  text-align: center;
}

section.rocket-sponsors a ,
section.rocket-sponsors figure {
  display: inline-block;
  margin: 0;
  padding: 0;
}

section.rocket-sponsors figure img {
  margin: 2rem 1rem;
}

section.about-us section {
  display: flex;
  align-items: center;
}

section.about-us section + section {
  margin-top: 4rem;
}

section.about-us section > * {
  flex-flow: row wrap;
  width: 50%;
}

section.about-us section figure {
  text-align: center;
  margin: 1rem auto;
}

section.about-us section figure img {
  border-radius: 100%;
  max-width: 70%;
  min-width: 150px;
}

section.about-us section article h1 {
  font-size: 1.2rem;
}

section.about-us section article * {
  font-size: 0.8rem;
}

@media (max-width: 699px) {
section.about-us section {
  display: block;
}
section.about-us section article {
  margin: 0 auto;
  width: 100%;
  max-width: 350px;
}
section.about-us section article * {
  text-align: center;
}
}

section.tickets {
  text-align: center;
}

section.tickets > div {
  max-width: 1200px;
}

section.tickets section {
  border-radius: 5px;
  background-color: white;
  border: 1px solid #e9e9e9;
  vertical-align: top;
  padding: 0;
  display: inline-block;
  text-align: left;
  position: relative;
  width: 33%;
  max-width: 350px;
  margin: 0.5%;
  margin-bottom: 2rem;
}

section.tickets h1 {
  margin-bottom: 3rem;
}

section.tickets a:last-child {
  margin-top: 3rem;
}

section.tickets section h1 {
  width: 100%;
  margin: 0;
  color: white;
  text-align: center;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 0.8rem;
  font-style: normal;
  text-transform: uppercase;
}

section.tickets section article {
  margin-top: 0;
  margin-bottom: 0;
}

section.tickets section header {
  text-align: center;
  min-height: 3rem;
}

section.tickets section header del {
  font-size: 0.7rem;
  color: #9b9b9b;
  display: block;
  min-height: 1rem;
  margin-top: 1rem;
}

section.tickets section header price:first-child {
  padding-top: 2rem;
}

section.tickets section header price {
  display: block;
  font-size: 2rem;
  font-weight: 700;
}

section.tickets section header price:last-child {
  margin-bottom: 4rem;
}

section.tickets section header p {
  font-size: 0.8rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 3.9rem;
  margin-top: 0.1rem;
  margin-bottom: 0;
  color: #9b9b9b;
}

section.tickets section ul {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
}

section.tickets section ul li {
  list-style: none;
  font-size: 0.7rem;
}

section.tickets section ul li {
  padding: 0.8rem 0;
  border-top: 1px solid #dfdfdf;
}

section.tickets section[ticket="early"] h1 {
  background-color: #eb18ff;
}

section.tickets section h1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

section.tickets section[ticket="regular"] h1 {
  background-color: #eb18ff;
}

section.tickets section[ticket="latebird"] h1 {
  background-color: #00a0df;
}

section.tickets section[ticket="supporter"] h1 {
  background-color: #6b3cff;
}

section.tickets section[ticket][disabled] {
  background-color: #f4f4f4;
}

section.tickets section[ticket][disabled] h1 {
  background-color: #ededed;
  color: #9b9b9b;
}

section.tickets section[ticket][disabled] * {
  color: #9b9b9b;
}

section.grouptickets > div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

section.grouptickets > div > section {
  margin: 1%;
  padding: 1.5rem;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #e9e9e9;
  width: 47%;
  min-width: 300px;
}

section.grouptickets h1 {
  font-size: 1.5rem;
}

section.grouptickets section ul {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
}

section.grouptickets section ul li {
  list-style: none;
  font-size: 0.7rem;
}

section.grouptickets section ul li {
  padding: 0.8rem 0;
  border-top: 1px solid #dfdfdf;
}

section.partners {
  text-align: center;
}

section.partners section {
  display: inline-block;
  margin: 0.4rem 2.3rem;
}

section.partners section figure {
  max-width: 100%;
}

section.partners section figure img {
  vertical-align: middle;
  max-width: 100%;
}


section.schedule * {
  text-align: center;
}

section.schedule > div > h1 {
  margin-bottom: 3rem;
}

section.schedule > div > div > h2 {
  margin: 4rem 0;
}

section.schedule div.slot,
section.schedule div.header,
section.schedule div.orga {
  margin-bottom: 2rem;
}

section.schedule div.slot,
section.schedule div.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section.schedule div.slot > span {
  display: none;
}

section.schedule div.slot > section,
section.schedule div.header > span {
  width: 470px;
}

section.schedule div.slot > section + section {
  margin: 0;
  margin-left: 20px;
}

section.schedule div.orga {
  position: relative;
  border-radius: 10px;
  background-color: #ededed;
  padding: 1.5rem;
}

section.schedule div.orga span {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

section.schedule div.orga span:first-child {
  position: absolute;
  left: 1.5rem;
  color: #9b9b9b;
}

section.schedule div.orga span:last-child {
  width: 100%;
}


section.schedule div.header > * {
  text-align: center;
  text-transform: uppercase;
  color: #9b9b9b;
}

section.schedule section {
  text-align: left;
  border-radius: 10px;
  border: 1px solid #e9e9e9;
  background-color: white;
  vertical-align: top;
  position: relative;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 16px;
}

section.schedule section * {
  text-align: left;
}

section.schedule section[topic=keynote] {
  background-image:
    linear-gradient(
      to bottom,
      #00c29f,
      #00c29f 3rem,
      white 3rem,
      white 100%
    );
}

section.schedule section[topic=tech] {
  background-image:
    linear-gradient(
      to bottom,
      #eb18ff,
      #eb18ff 7px,
      white 7px,
      white 100%
    );
}

section.schedule section[topic=design] {
  background-image:
    linear-gradient(
      to bottom,
      #00a0df,
      #00a0df 7px,
      white 7px,
      white 100%
    );
}

section.schedule section[topic=society] {
  background-image:
    linear-gradient(
      to bottom,
      #6b3cff,
      #6b3cff 7px,
      white 7px,
      white 100%
    );
}

section.schedule section[topic=keynote] h4 {
  margin-top: -0.4rem;
  margin-bottom: 2.6rem;
  color: white;
}

section.schedule section[topic=keynote] header span:last-child,
section.schedule section[topic=introoutro] header span:last-child {
  visibility:hidden;
}

section.schedule section article {
  margin: 0;
}

section.schedule section header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.schedule section header span:not(last-child) {
  font-size: 0.8rem;
  color: #9b9b9b;
}

section.schedule section header span:last-child {
  font-size: 0.8rem;
  line-height: 0.8rem;
  border: 2px solid;
  border-radius: 1rem;
  padding: 0.2rem 1rem;
  font-weight: 700;
}

section.schedule section[topic=tech] header span:last-child {
  color: #eb18ff;
  border-color: #eb18ff;
}
section.schedule section[topic=design] header span:last-child {
  color: #00a0df;
  border-color: #00a0df;
}
section.schedule section[topic=society] header span:last-child {
  color: #6b3cff;
  border-color: #6b3cff;
}

section.schedule section > a {
  text-decoration: none;
}

section.schedule section article > p {
  min-height: 6rem;
  display: block;
}

section.schedule section[topic=keynote] article > p,
section.schedule section[topic=introoutro] article > p {
  min-height: 0px;
}

section.schedule section p em {
  font-style: normal;
  color: #9b9b9b;
}

section.schedule section hr {
  background-color: #9b9b9b;
}

section.schedule section footer {
  display: flex;
  justify-content: space-between;
}

section.schedule section footer * {
  margin: 0;
  padding: 0;
}

section.schedule section footer div {
  flex-grow: 2;
}

section.schedule section footer h1 {
  font-weight: 400;
  font-size: 0.8rem;
  color: #4a4a4a;
}

section.schedule section footer p {
  font-size: 0.8rem;
  color: #9b9b9b;
}

section.schedule section footer figure {
  width: 70px;
  margin-left: 10px;
  flex: none;
}

section.schedule section footer figure img {
  width: 100%;
  border-radius: 50%;
  display: block;
}

@media (max-width: 540px) {
section.schedule div.slot > section {
  width: 100%;
}

section.schedule div.slot > section + section {
  margin: 0;
  margin-left: 0;
}
}

@media (max-width: 1039px) {
section.schedule div.header {
  display: none;
}
section.schedule div.slot,
section.schedule div.orga {
  display: block;
  margin-bottom: 3rem;
}
section.schedule div.slot > span {
  display: block;
  padding: 1rem;
  color: #9b9b9b;
}
section.schedule div.slot > section {
  margin-left: auto;
  margin-right: auto;
}
section.schedule div.slot > section + section {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
section.schedule div.orga {
  max-width: 470px;
}
section.schedule div.orga span:first-child {
  left: 0;
  position: relative;
  color: #9b9b9b;
  width: 100%;
  margin-bottom: 0.5rem;
}
section.schedule section article > p {
  min-height: 0px;
}
section.schedule section header span:first-child {
  display: none;
}
}

section.speakers {
  text-align: center;
}

section.speakers section {
  border-radius: 5px;
  background-color: white;
  border: 1px solid #e9e9e9;
  vertical-align: top;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 16px;
  margin-bottom: 2rem;
  display: inline-block;
  text-align: left;
  position: relative;
}

section.speakers .talks > h1 {
  margin-top: 4rem;
}

section.speakers > div + *{
  margin-top: 4rem;
}

section.speakers .keynotes h4 {
  margin-top: -0.5rem;
  margin-bottom: 3rem;
  color: white;
}

section.speakers .keynotes article > p {
  margin-top: 1.5rem;
  min-height: 3rem;
}

section.speakers .keynotes section header {
  display: flex;
  justify-content: space-between;
}

section.speakers .keynotes section header div {
}

section.speakers .keynotes section header figure {
  width: 80px;
  margin-left: 10px;
  flex: none;
}

section.speakers section {
  width: 30%;
  max-width: 300px;
  margin: 1%;
  margin-bottom: 2rem;
}

section.speakers .keynotes section {
  width: 47%;
  max-width: none;
}

section.speakers section * {
  text-align: left;
}

section.speakers section h1, section.speakers section h4 {
  margin-bottom: 0;
}
section.speakers section p {
  margin-top: 0.3rem;
  margin-bottom: 0;
}

section.speakers section p em {
  font-style: normal;
  color: #9b9b9b;
}

section.speakers .keynotes section {
  background-image:
    linear-gradient(
      to bottom,
      #00c29f,
      #00c29f 3rem,
      white 3rem,
      white 100%
    );
}


section.speakers .talks section[topic=tech] {
  background-image:
    linear-gradient(
      to bottom,
      #eb18ff,
      #eb18ff 7px,
      white 7px,
      white 100%
    );
}

section.speakers .talks section[topic=design] {
  background-image:
    linear-gradient(
      to bottom,
      #00a0df,
      #00a0df 7px,
      white 7px,
      white 100%

    );
}

section.speakers .talks section[topic=society] {
  background-image:
    linear-gradient(
      to bottom,
      #6b3cff,
      #6b3cff 7px,
      white 7px,
      white 100%

    );
}

section.speakers article {
  margin: 0;
}

section.speakers a,
section.speakers article * {
  text-decoration: none;
}

section.speakers article header * {
  font-size: 0.7rem;
  line-height: 1rem;
}

section.speakers section hr {
  background-color: #9b9b9b;
}

section.speakers section article > p:first-of-type {
  min-height: 7rem;
}

section.speakers section[topic=keynote] article > p:first-of-type {
  min-height: 4rem;
}

section.speakers section.workshop article > p:last-of-type {
  color: #9b9b9b;
}

section.speakers section header h1 {
  font-weight: 400;
}

section.speakers article header {
  display: flex;
}

section.speakers section header div {
  margin: 0;
  padding-right: 0.5rem;
  flex: 70%;
}

section.speakers section header div p {
  color: #9b9b9b;
}

section.speakers section header figure {
  margin: 0;
  flex: 30%;
}

section.speakers section header figure img {
  width: 100%;
  border-radius: 50%;
  display: block;
}

section.speakers section:after {
  content: '';
  display: block;
  clear: both;
}
@media (max-width: 979px) {
section.speakers .talks section,
section.tickets section {
  width: 47%;
}
section.tickets section {
  margin-left: 1%;
  margin-right: 1%;
}
section.speakers .keynotes section header figure {
  width: 60px;
}
}
@media (max-width: 699px) {
/*
body > footer {
  min-height: 100vh;
  position: relative;
}
body > footer nav > a:first-child {
  display: inline-block;
}
body > footer nav > div:last-of-type {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100vw;
  margin-left: 0;
  margin-bottom: 1rem;
}
body > footer nav > div a img {
  width: 2.2rem;
  height: 2.2rem;
}
*/
section.speakers .talks section,
section.speakers .keynotes section,
section.tickets section {
  width: 98%;
}
section.speakers section article > p {
  min-height: 0;
}
section.speakers .keynotes section header figure {
  width: 70px;
}
}
@media (max-width: 499px) {
section.speakers .keynotes section header figure {
  width: 60px;
}
}

section.image-with-text figure {
  float: left;
  width: 50%;
}

section.image-with-text figure img {
  width: 100%;
}

section.image-with-text article {
  float: right;
  width: 50%;
  padding-left: 2rem;
  padding-right: 2rem;
}

section.image-with-text > div:after {
  content: '';
  display: block;
  clear: both;
}

section.speaker-details > div {
  max-width: 800px;
  margin: 0px auto;
}

section.speaker-details > div > ul {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

section.speaker-details:first-of-type {
  padding-bottom: 1rem;
}

section.speaker-details + section.speaker-details {
  padding-top: 0;
}

section.speaker-details em {
  font-style: normal;
  text-transform: uppercase;
}

section.speaker-details em[topic=keynote] {
  color: #00c29f;
}

section.speaker-details em[topic=tech] {
  color: #eb18ff;
}

section.speaker-details em[topic=design] {
  color: #00a0df;
}

section.speaker-details em[topic=society] {
  color: #6b3cff;
}

section.speaker-details .performance-host {
  display: flex;
  align-items: center;
}

section.speaker-details .performance-host a {
  margin-left: 1rem;
  width: 200px;
}

section.speaker-details .performance-host a img {
  width: 100%;
}

section.speaker-details ul {
  margin: 0;
  padding: 0;
}

section.speaker-details ul li {
  display: inline-block;
  list-style: none;
  margin-right: 1rem;
}

section.speaker-details ul li,
section.speaker-details ul li * {
  font-size: 0.8rem;
}

section.speaker-details > div > h1 {
  margin-bottom: 0.3rem;
}

section.speaker-details article.bio {
  background-color: white;
  align-items: center;
  max-width: 600px;
  margin: 3rem auto 0 auto;
}

section.speaker-details article.bio > figure {
  text-align: center;
  max-width: none;
  margin: 0;
}

section.speaker-details article.bio > figure img {
  border-radius: 50%;
  width: 180px;
  margin: 0.5rem;
}

section.speaker-details article.bio > div * {
  font-size: 0.7rem;
  line-height: 1rem;
  text-align: center;
}

section.speaker-details article.bio > div h1 {
  font-size: 1rem;
  margin: 0;
  margin-top: 1.3rem;
}

section.speaker-details article.bio > div p:first-of-type {
  margin-top: 0.3rem;
  margin-bottom: 1.3rem;
  text-align: center;
}

section.blog > div > h1 {
  text-align: center;
  margin-bottom: 3rem;
}

section.blog section {
  border-radius: 5px;
  background-color: white;
  border: 1px solid #e9e9e9;
  vertical-align: top;
  padding: 0;
  margin-bottom: 2rem;
  margin-left: 1%;
  margin-right: 1%;
  display: inline-block;
  text-align: left;
  position: relative;
  min-height: 30rem;
}

section.blog div > a {
  width: 48%;
  display: inline-block;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

section.blog section h1 {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-bottom: 0.3rem;
  min-height: 3rem;
}

section.blog span:first-of-type {
  display: inline-block;
  margin-bottom: 0.4rem;
}

section.blog section div span:last-of-type {
  color: #9b9b9b;
  position: absolute;
  bottom: 30px;
  text-decoration: underline;
}

section.blog section * {
  text-align: left;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

section.blog section div:first-child {
  width: 100%;
  overflow: hidden;
}

section.blog section img {
  border-radius: 5px 5px 0 0;
  display: block;
  width: 100%;
}

section.blog section div:last-child {
  padding: 30px;
}

section.blogpost .centered p {
  text-align: center;
}

body section.blogpost div,
body section.blogauthor div {
  max-width: 700px;
}

body section.blogpost code {
  color: #0e003b;
  font-family: monospace;
}

body section.blogpost pre code {
  background-color: #0e003b;
  color: white;
  padding: 1rem;
  display: inline-block;
  width: 100%;
  border-top: 1rem solid #6b3cff;
}

body section.blogpost hr {
  margin: 3rem 0;
  height: 1px;
  background-color: #9b9b9b;
}

section.blogpost > div img {
  width: 100%;
  margin-bottom: 1rem;
}

section.blogpost > div > p img {
  width: auto;
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

section.blogpost > div div:last-of-type {
  margin-top: 4rem;
}

section.blogpost h1:first-of-type {
  margin-bottom: 0;
}

section.blogpost h1,
section.blogpost h2,
section.blogpost h3,
section.blogpost h4 {
  text-align: left;
}

section.blogpost span:first-of-type {
  color: #9b9b9b;
  display: inline-block;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-size: 0.9rem;
}

section.blogpost span:first-of-type a {
  color: #9b9b9b;
}

section.blogpost p a > img {
  height: 1rem;
}

section.blogpost li {
  margin-bottom: 0.5rem;
}


body section.blogauthor div > img {
  width: 15%;
  margin-right: 4%;
  display: inline-block;
  border-radius: 100%;
  vertical-align: middle;
}

body section.blogauthor div > div {
  width: 81%;
  display: inline-block;
  vertical-align: top;
}

@media (max-width: 600px) {
body section.blogauthor div > img {
  width: 20%;
}
body section.blogauthor div > div {
  width: 76%;
}
}

body section.blogauthor h1 {
  font-size: 1rem;
  margin-bottom: 0;
}

body section.blogauthor p {
  margin-top: 0.2rem;
}

body section.blogauthor * {
  font-size: 0.7rem;
}

@media (max-width: 979px) {
section.blog section {
  min-height: 33rem;
}
}

@media (max-width: 800px) {
section.blog section {
  min-height: 37rem;
}
}

@media (max-width: 699px) {
section.blog div > a {
  width: 98%;
}
section.blog section {
  min-height: 0;
}
section.blog section h1 {
  min-height: 0;
}
section.blog section div span:last-of-type {
  position: inherit;
}
}

[topic=tech] em, [topic=tech] h4 {
 color: #eb18ff;
}

[topic=design] em, [topic=design] h4 {
 color: #00a0df;
}

[topic=society] em, [topic=society] h4 {
 color: #6b3cff;
}

@media (max-width: 979px) {
section.image-with-text figure {
  margin: 2rem auto;
  float: none;
  width: 90%;
  max-width: 500px;
}

section.image-with-text article {
  float: none;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
}
@media (max-width: 699px) {
html {
  font-size: 18px;
}
a[button] {
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  border-radius: 1.4rem;
}
}

