<main>
  <section class="speaker-details">
    <div>
      <h1>Algorithmic Bias – Diskriminierung durch Algorithmen erkennen und vermeiden</h1>
      <ul>
        <li><em>Tech</em></li>
        <li><%= t('speaker-details.length') %>: 45 Min</li>
        <li><%= t('speaker-details.language') %>: DE</li>
      </ul>
      <article><%= t('speaker-details.abstract-missing') %></article>
    </div>
  </section>
  <section class="speaker-details">
    <div>
      <article class="bio">
        <figure>
          <img src="/assets/images/speaker/anika_zeidler.png" />
        </figure>
        <div>
          <h1>Anika Zeidler</h1>
          <p>IT Consultant @ Capgemini<p>
          <p><%= content('speakies/anika_zeidler') %></p>
          <p><a href="https://www.capgemini.com/de-de/service/digital-services/insights-data/">Capgemini</a></p>
        </div>
      </article>
    </div>
  </section>
</main>
