<main>
  <section class="speaker-details">
    <div>
      <h1>Automation and the impact on the working class</h1>
      <ul>
        <li><em>Society</em></li>
        <li><%= t('speaker-details.length') %>: 45 Min</li>
        <li><%= t('speaker-details.language') %>: EN</li>
      </ul>
      <article><p>Technological innovation has lead so to a remarkable rise of productivity. How does our current state of progress differentiates from the beginnings during the first industrial revolution and what is the impact that automation has on the working class and what are the implications for the future of work and society?</p>
</article>
    </div>
  </section>
  <section class="speaker-details">
    <div>
      <article class="bio">
        <figure>
          <img src="/assets/images/speaker/christoph_hassler_big.png" />
        </figure>
        <div>
          <h1>Christoph Hassler</h1>
          <p>UX Consultant and Lead for Social and Economic Justice @ ThoughtWorks<p>
          <p><%= content('speakies/christoph_hassler') %></p>
          <p><a href="https://www.thoughtworks.com/">ThoughtWorks</a></p>
        </div>
      </article>
    </div>
  </section>
</main>
