<main>
  <section class="speaker-details">
    <div>
      <h1>Diverse representations in design and awkward conversations with colleagues</h1>
      <ul>
        <li><em>Design</em></li>
        <li><%= t('speaker-details.length') %>: 45 Min</li>
        <li><%= t('speaker-details.language') %>: EN</li>
      </ul>
      <article><%= t('speaker-details.abstract-missing') %></article>
    </div>
  </section>
  <section class="speaker-details">
    <div>
      <article class="bio">
        <figure>
          <img src="/assets/images/speaker/eriol_fox_big.png" />
        </figure>
        <div>
          <h1>Eriol Fox</h1>
          <p>Designer @ Ushahidi<p>
          <p><%= content('speakies/eriol_fox') %></p>
          <p><a href="https://www.ushahidi.com/">Ushahidi</a> | <a href="http://erioldoesdesign.com/">Website</a></p>
        </div>
      </article>
    </div>
  </section>
</main>
