<main>
  <section class="speaker-details">
    <div>
      <h1>Produkte gegen die eigene Moral - Über kognitive Dissonanz im Produktdesign</h1>
      <ul>
        <li><em>Design</em></li>
        <li><%= t('speaker-details.length') %>: 45 Min</li>
        <li><%= t('speaker-details.language') %>: DE</li>
      </ul>
      <article><p>test summary</p>
</article>
    </div>
  </section>
  <section class="speaker-details">
    <div>
      <article class="bio">
        <figure>
          <img src="/assets/images/speaker/gerri_buchegger_big.png" />
        </figure>
        <div>
          <h1>Gerri Buchegger</h1>
          <p>Mühle Design<p>
          <p><%= content('speakies/gerri_buchegger') %></p>
          <p><a href="https://muehle-design.com/">Mühle Design</a> | <a href="https://www.instagram.com/die_muehle/">Instagram</a></p>
        </div>
      </article>
    </div>
  </section>
</main>
