<main>
  <section class="speaker-details">
    <div>
      <h1>The Power of Web Components</h1>
      <ul>
        <li><em>Tech</em></li>
        <li><%= t('speaker-details.length') %>: 45 Min</li>
        <li><%= t('speaker-details.language') %>: DE</li>
      </ul>
      <article><%= t('speaker-details.abstract-missing') %></article>
    </div>
  </section>
  <section class="speaker-details">
    <div>
      <article class="bio">
        <figure>
          <img src="/assets/images/speaker/katharina_baehr_big.png" />
        </figure>
        <div>
          <h1>Katharina Bähr</h1>
          <p>Web-Loving Software Engineer @ Zühlke Engineering<p>
          <p><%= content('speakies/katharina_baehr') %></p>
          <p><a href="https://www.zuehlke.com/de/de/">Zühlke Engineering</a> | <a href="https://kabaehr.de">Website</a> | <a href="https://twitter.com/kabaehr">Twitter</a></p>
        </div>
      </article>
    </div>
  </section>
</main>
