<main>
  <section class="speaker-details">
    <div>
      <h1>The Power of an Agile Mindset</h1>
      <ul>
        <li><em>Keynote</em></li>
        <li><%= t('speaker-details.length') %>: 45 Min</li>
        <li><%= t('speaker-details.language') %>: EN</li>
      </ul>
      <article><p>Research has identified what I like to call “an agile mindset,” an attitude that equates failure and problems with opportunities for learning, a belief that we can all improve over time, that our abilities are not fixed but evolve with effort. What’s surprising about this research is the impact of our mindset on creativity and innovation, estimation, and collaboration in and out of the workplace. I’ll share what we know so far about this mindset and offer some practical suggestions to help all of us become even more agile.</p>
</article>
    </div>
  </section>
  <section class="speaker-details">
    <div>
      <article class="bio">
        <figure>
          <img src="/assets/images/speaker/linda_rising_big.png" />
        </figure>
        <div>
          <h1>Linda Rising</h1>
          <p>Independent Consultant<p>
          <p><%= content('speakies/linda_rising') %></p>
          <p><a href="http://lindarising.org/">Website</a> | <a href="https://twitter.com/RisingLinda">Twitter</a></p>
        </div>
      </article>
    </div>
  </section>
</main>
