<main>
  <section class="speaker-details">
    <div>
      <h1>Intranet of Things</h1>
      <ul>
        <li><em>Tech</em></li>
        <li><%= t('speaker-details.length') %>: 45 Min</li>
        <li><%= t('speaker-details.language') %>: EN</li>
      </ul>
      <article><p>Ever backed an amazing smart home tech gadget on Kickstarter and ended up with a useless piece
of techno garbage 6 months later?
Just because that amazing start up ran out of money and needed to shut down the servers?
Welcome to the wonderful cloud centric world we call the “Internet of Things”.
But does it always need to be that way? I say No!</p>

<p>Thanks to the wonders of WebRTC, Service Workers and Node.js, we can create a world
in where todays consumer IoT hardware can be controlled using a P2P model.</p>

<p>I´ll demo a WebRTC based Smart Home Hub concept that interacts with ZigBee devices,
WiFi Cameras and locally available voice and face recognition systems, without sacrificing comfort, security &amp; privacy.</p>
</article>
    </div>
  </section>
  <section class="speaker-details">
    <div>
      <article class="bio">
        <figure>
          <img src="/assets/images/speaker/sebastian_golasch.png" />
        </figure>
        <div>
          <h1>Sebastian Golasch</h1>
          <p>Specialist Senior Manager Software Developer @ Telekom<p>
          <p><%= content('speakies/sebastian_golasch') %></p>
          <p><a href="https://telekom.de/">Telekom</a> | <a href="https://twitter.com/asciidisco">Twitter</a> | <a href="https://asciidisco.com/">Website</a></p>
        </div>
      </article>
    </div>
  </section>
</main>
