<main>
  <section class="speaker-details">
    <div>
      <h1>Innovation under the GDPR</h1>
      <ul>
        <li><em>Tech</em></li>
        <li><%= t('speaker-details.length') %>: 45 Min</li>
        <li><%= t('speaker-details.language') %>: EN</li>
      </ul>
      <article><p>The GDPR came into force in 2018 and left many entrepreneurs panicking, not only about their compliance but also about their ability to keep innovating. We live in a data economy and not 
collecting data to understand your customers may leave you with a serious competitive disadvantage. Nevertheless, there are enough ways to respect your users privacy and rights while 
continuing to innovate. Welcome to the era of privacy conscious products and services. This talk is not only about how to keep innovating despite the GDPR, but also how to use privacy as a way to stand out from your competition and build better experiences for your audience.</p>
</article>
    </div>
  </section>
  <section class="speaker-details">
    <div>
      <article class="bio">
        <figure>
          <img src="/assets/images/speaker/silvan_jongerius_big.png" />
        </figure>
        <div>
          <h1>Silvan Jongerius</h1>
          <p>Founder @ TechGDPR<p>
          <p><%= content('speakies/silvan_jongerius') %></p>
          <p><a href="https://techgdpr.com/">TechGDPR</a> | <a href="https://twitter.com/silvanjongerius">Twitter</a></p>
        </div>
      </article>
    </div>
  </section>
</main>
