<main>
  <section class="speaker-details">
    <div>
      <h1>Preparing For a Future Microservices Journey</h1>
      <ul>
        <li><em>Keynote</em></li>
        <li><%= t('speaker-details.length') %>: 45 Min</li>
        <li><%= t('speaker-details.language') %>: EN</li>
      </ul>
      <article><%= t('speaker-details.abstract-missing') %></article>
    </div>
  </section>
  <section class="speaker-details">
    <div>
      <article class="bio">
        <figure>
          <img src="/assets/images/speaker/susanne_kaiser.png" />
        </figure>
        <div>
          <h1>Susanne Kaiser</h1>
          <p>Independent Consultant<p>
          <p><%= content('speakies/susanne_kaiser') %></p>
          <p><a href="https://kaiser-consulting.net/">Website</a> | <a href="https://twitter.com/suksr">Twitter</a></p>
        </div>
      </article>
    </div>
  </section>
</main>
