.Footer {
  position: relative;
  background-color: $color-primary-dark;
}

.Footer a[button] {
  display: inline;
  background-color: $color-tech;
}

.Footer a[button]:hover {
  /* TODO */
}


.Footer * {
  color: white;
  text-align: center;
  font-size: $font-size-smaller;
}

.Footer ul {
  list-style: none;
}

.Footer ul li {
  margin-bottom: $spacer-1;
}

.Footer a {
  text-decoration: none;
}

.Footer .container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Footer .Footer-links * {
  font-weight: 700;
}

.Footer .Footer-links span,
.Footer .Footer-links-secondary span {
  color: $color-tech;
}

.Footer .Footer-links-secondary * {
  font-size: $font-small;
}

.Footer .Footer-links-external {
  margin-top: $spacer-section;
}

.Footer .Footer-links-external li {
  display: inline-block;
}

.Footer .Footer-links-external li + li {
  margin-left: $spacer-1;
}

.Footer .Footer-links-external img {
  width: 1.5rem;
}

.Footer .Footer-close-button {
  display: none;
  padding: $spacer-2;
}

.Footer .Footer-close-button img {
  width: 1.5rem;
}

.Footer .Footer-image {
  margin: $spacer-section 0;
}

.Footer .Footer-image img {
  width: 120px;
}

@media (--phone-only) {
.Footer {
  height: 100vh;
}
.Footer .Footer-close-button {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.Footer .Footer-links-external {
  margin-top: auto;
}
}
