.Header {
  width: 100%;
  background-color: white;
}

.Header a[button] {
  margin: 0;
  background-color: $color-tech;
}

.Header a[button]:hover {
  /* TODO */
}

.Header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header-image {
  width: $spacer-4;
  margin: $spacer-1 0;
}

.Header-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: $spacer-1 0;
}

.Header-links li {
  display: inline;
  padding: 0;
}

.Header-links li + li{
  margin-left: $spacer-2;
}

.Header-links a,
.Header-links span {
  text-decoration: none;
  font-size: $font-small;
}

.Header-links span {
  color: $color-tech;
  font-weight: 700;
}

.Header-menu-button {
  display: none;
  margin: $spacer-2
}

.Header-menu-button img {
  width: 1.5rem;
}

@media (--phone-only) {
.Header {
  background: none;
  position: absolute;
}
.Header .container {
  padding: 0;
  flex-direction: row-reverse;
}
.Header-image {
  display: none;
}
.Header-links {
  display: none;
}
.Header-menu-button {
  display: inline-block;
}
}
