.SponsorList {
  display: flex;
  margin: 0;
  padding: 0;
  flex-flow: row wrap;
  justify-content: center;
}

.SponsorList .SponsorList-Sponsor {
  list-style: none;
  margin: 1rem;
  padding: 0
}

.SponsorList .SponsorList-Sponsor-Link {
  display: flex;
  height: 100px;
  width: 200px;
}

.SponsorList .SponsorList-Sponsor-Image {
  width: 100%;
  height: 100%;
  margin: auto 0;
}

.SponsorList-Sponsor.jsheroes img {
  opacity: 0.4;
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}
