.Textbox {
  text-align: center;
}

.Textbox span[note] {
  margin-top: $spacer-2;
}

.Textbox.Textbox-small .container {
  max-width: $page-width-small;
}

.Textbox .Textbox-text-with-image {
  display: flex;
}

.Textbox .Textbox-text-with-image + .Textbox-text-with-image {
  margin-top: $spacer-3;
}

.Textbox .Textbox-text-with-image figure {
  flex: 1;
}

.Textbox .Textbox-text-with-image article {
  flex: 1;
  text-align: left;
}

.Textbox .Textbox-text-with-image.Textbox-left {
  flex-direction: row-reverse;
}

.Textbox .Textbox-text-with-image.Textbox-right {
  flex-direction: row;
}

.Textbox .Textbox-text-with-image.Textbox-left article {
  margin-right: $spacer-3;
}

.Textbox .Textbox-text-with-image.Textbox-right article {
  margin-left: $spacer-3;
}

@media (--tablet-portrait-down) {
.Textbox .Textbox-text-with-image {
  align-items: center;
}

.Textbox .Textbox-text-with-image article {
  margin-left: auto;
  margin-right: auto;
  max-width: calc($page-width / 2);
}

.Textbox .Textbox-text-with-image figure {
  max-width: calc($page-width / 2);
  width: 100%;
}

.Textbox .Textbox-text-with-image.Textbox-left,
.Textbox .Textbox-text-with-image.Textbox-right {
  flex-direction: column;
}

.Textbox .Textbox-text-with-image.Textbox-fold-image-down {
  flex-direction: column-reverse;
}

.Textbox .Textbox-text-with-image.Textbox-left article,
.Textbox .Textbox-text-with-image.Textbox-right article {
  margin-top: $spacer-2;
  margin-right: 0;
  margin-left: 0;
}
}
