<img src="/assets/images/blog/chrissi.png"><div>
  <h1>Chrissi Holderbaum</h1>
  <p>Founder of Think About!, Product Designer, Monster Addict &amp; Amateur Baker</p>
  <p>
    <a href="https://twitter.com/Chrissi_Hldrbm">Twitter</a> |
    <a href="https://github.com/ChrissiHold">Github</a> |
    <a href="https://christina.holderbaum.me/">Website</a> |
    <a href="mailto:chrissi@think-about.io">Mail</a>
  </p>
</div>
