<img src="/assets/images/blog/jakob.png"><div>
  <h1>Jakob Holderbaum</h1>
  <p>Founder of Think About!, Agile Software Developer &amp; Consultant, Standard Nerd</p>
  <p>
    <a href="https://twitter.com/hldrbm">Twitter</a> |
    <a href="https://github.com/holderbaum">Github</a> |
    <a href="https://holderbaum.io/">Website</a> |
    <a href="mailto:jakob@think-about.io">Mail</a>
  </p>
</div>
