/*
 * Headlines/Footer   0e003b
 * Text               4a4a4a
 * Tech               eb18ff
 * Design             00a0df
 * Society            6b3cff
 * Background         f9f9f9
 * Dark Background    470076
 * /

/* ================================ */
/* Element reset and defaults */

html {
  font-size: 20px;
  box-sizing: border-box;
  min-height: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-color: white;
  min-height: 100%;
  position: relative;
}

*, *:before, *:after {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #4a4a4a;
  box-sizing: inherit;
  padding: 0;
  letter-spacing: 0.02rem;
}

h1, h2, h3, h1 *, h2 *, h3 * {
  font-weight: 700;
  letter-spacing: 0.05rem;
  font-size: 1.5rem;
  font-style: normal;
  margin-top: 0;
  color: #0e003b;
}

h4 {
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 0.8rem;
  font-style: normal;
  text-transform: uppercase;
  margin-top: 0;
}

hr {
  border: 0;
  height: 1px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

article {
  margin: 2rem 0;
}

figure {
  margin: 2rem auto;
}

figure {
  width: 100%;
  max-width: 500px;
}

b, strong {
  font-weight: 700;
  letter-spacing: 0.05rem;
}

ul {
  list-style: square;
}

ul li {
  padding-bottom: 0.5rem;
}

body div {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

body div.centered {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

main > section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

main > section:nth-child(odd) {
  background-color: #f9f9f9;
}

main > section > h1 {
  text-align: center;
}

/* ================================ */
/* Buttons */

a[button] {
  background-color: #6b3cff;
  border: 0;
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  margin: 1rem;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

a[button]:hover {
  text-decoration: underline;
}

/* ================================ */
/* Keyvisual */

body > header {
  height: 600px;
  background-image: url("/assets/images/keyvisual.svg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: auto;
  background-size: 4096px 600px;
  background-color: #470076;
  padding-top: 70px;
}

body > header[small] {
  height: 75px;
  background-color: #f9f9f9;
  background-image: none;
}

body > header * {
  color: white;
}

body > header *:first-child {
  margin-top: 0;
}

body > header div.centered {
  padding-left: 2rem;
  padding-right: 2rem;
}

/* ================================ */
/* Navigation */

nav {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  padding: 1rem;
}

nav a[button] {
  margin: 0;
  background-color: #eb18ff;
}

nav a:first-child {
  float: left;
}

nav a:last-child {
  float: right;
}

nav div:after {
  content: '';
  display: block;
  clear: both;
}

/* ================================ */
/* Footer */

footer {
  text-align: center;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #470076;
  margin-top: 2rem;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

footer a {
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
}

/* ================================ */
/* Topics */

section.topics section:nth-child(even) figure {
  float: right;
}

section.topics section:nth-child(even) article {
  float: left;
}

section.topics section:nth-child(odd) figure {
  float: left;
}

section.topics section:nth-child(odd) article {
  float: right;
}

section.topics section figure, section.topics section article {
  width: 50%;
}

section.topics section article {
  padding-left: 2rem;
  padding-right: 2rem;
}

section.topics section:after {
  content: '';
  display: block;
  clear: both;
}

/* ================================ */
/* Tickets */

section.tickets {
  text-align: center;
}


section.tickets section {
  border-radius: 5px;
  background-color: white;
  border: 1px solid #e9e9e9;
  vertical-align: top;
  padding: 0;
  display: inline-block;
  text-align: left;
  position: relative;
  width: 30%;
  max-width: 300px;
  margin: 1%;
  margin-bottom: 0rem;
}

section.tickets a:last-child {
  margin-top: 4rem;
}

section.tickets section h1 {
  width: 100%;
  margin: 0;
  color: white;
  text-align: center;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 0.8rem;
  font-style: normal;
  text-transform: uppercase;
}

section.tickets section article {
  margin-top: 0;
  margin-bottom: 0;
}

section.tickets section header {
  text-align: center;
  min-height: 3rem;
}

section.tickets section header del {
  font-size: 0.7rem;
  color: #9b9b9b;
  display: block;
  min-height: 1rem;
  margin-top: 1rem;
}

section.tickets section header price:first-child {
  padding-top: 2rem;
}

section.tickets section header price {
  display: block;
  font-size: 2rem;
  font-weight: 700;
}

section.tickets section header price:last-child {
  margin-bottom: 4rem;
}

section.tickets section header p {
  font-size: 0.7rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 3.9rem;
  margin-top: 0.1rem;
  margin-bottom: 0;
  color: #9b9b9b;
}

section.tickets section ul {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
}

section.tickets section ul li {
  list-style: none;
  font-size: 0.7rem;
}

section.tickets section ul li {
  padding: 0.8rem 0;
  border-top: 1px solid #dfdfdf;
}

section.tickets section[ticket="early"] h1 {
  background-color: #eb18ff;
}

section.tickets section h1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

section.tickets section[ticket="regular"] h1 {
  background-color: #00a0df;
}

section.tickets section[ticket="supporter"] h1 {
  background-color: #6b3cff;
}

section.tickets section[ticket][disabled] {
  background-color: #ededed;
}

section.tickets section[ticket][disabled] h1 {
  background-color: #9b9b9b;
  color: white;
}

section.tickets section[ticket][disabled] * {
  color: #9b9b9b;
}


/* ================================ */
/* Speaker */

section.speakers section {
  border-radius: 5px;
  background-color: white;
  border: 1px solid #e9e9e9;
  vertical-align: top;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 16px;
  margin-bottom: 2rem;
  display: inline-block;
  text-align: left;
  position: relative;
}

section.speakers > div + *{
  margin-top: 4rem;
}

section.speakers .keynotes section {
  width: 100%;
  padding-bottom: 30px;
}

section.speakers .keynotes article {
  margin: 0;
}


section.speakers .keynotes article > * {
  width: 50%;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}

section.speakers .keynotes article > header a {
  font-size: 0.7rem;
}

section.speakers .keynotes article > header > figure {
  margin: 0;
  width: 29%;
  display: inline-block;
  vertical-align: middle;
}

section.speakers .keynotes article > header > div {
  width: 63%;
  margin-left: 3%;
  margin-right: 3%;
  display: inline-block;
  vertical-align: middle;
}


section.speakers .keynotes article > header > figure img {
  width: 100%;
  max-width: 100px;
  border-radius: 50%;
  display: block;
}

section.speakers .keynotes article > div p {
  margin: 0;
  font-size: 0.7rem;
}


section.speakers {
  text-align: center;
}

section.speakers .talks section {
  width: 30%;
  max-width: 300px;
  margin: 1%;
  margin-bottom: 2rem;
}

section.speakers .talks section * {
  text-align: left;
}

section.speakers .talks section h1, section.speakers .talks section h4 {
  margin-bottom: 0;
}
section.speakers .talks section p {
  margin-top: 0.3rem;
  margin-bottom: 0;
}

section.speakers .talks section[topic=tech] {
  background-image:
    linear-gradient(
      to bottom,
      #eb18ff,
      #eb18ff 7px,
      white 7px,
      white 100%
    );
}

section.speakers .talks section[topic=design] {
  background-image:
    linear-gradient(
      to bottom,
      #00a0df,
      #00a0df 7px,
      white 7px,
      white 100%

    );
}

section.speakers .talks section[topic=society] {
  background-image:
    linear-gradient(
      to bottom,
      #6b3cff,
      #6b3cff 7px,
      white 7px,
      white 100%

    );
}

section.speakers .talks article {
  margin: 0;
}

section.speakers .talks article header * {
  font-size: 0.7rem;
}

section.speakers .talks section hr {
  background-color: #9b9b9b;
}

section.speakers .talks section article > p {
  min-height: 5rem;
}

section.speakers .talks section header h1 {
  font-weight: 400;
}

section.speakers .talks section header a {
  color: #9b9b9b;
}

section.speakers .talks section header div {
  margin: 0;
  width: 70%;
  display: inline-block;
  vertical-align: top;
}

section.speakers .talks section header figure {
  margin: 0;
  width: 30%;
  display: inline-block;
}

section.speakers .talks section header figure img {
  width: 100%;
  border-radius: 50%;
  display: block;
}

section.speakers .talks:after {
  content: '';
  display: block;
  clear: both;
}
@media (max-width: 979px) {
section.speakers .talks section,
section.tickets section {
  width: 47%;
}
section.speakers .keynotes article h4 {
  text-align: left;
}
}
@media (max-width: 699px) {
section.speakers .talks section,
section.tickets section {
  width: 98%;
}
section.speakers .keynotes article > * {
  width: 100%;
}
section.speakers .keynotes article h4 {
  text-align: left;
}
section.speakers .keynotes article > header > figure,
section.speakers .keynotes article > header > div {
  width: 100%;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
}
section.speakers .keynotes article div {
  margin-top: 20px;
}

}

/* ================================ */
/* Location */

section.image-with-text figure {
  float: left;
  width: 50%;
}

section.image-with-text figure img {
  width: 100%;
}

section.image-with-text article {
  float: right;
  width: 50%;
  padding-left: 2rem;
  padding-right: 2rem;
}

section.image-with-text:after {
  content: '';
  display: block;
  clear: both;
}

/* ================================ */
/* Topic related coloring */


[topic=tech] em, [topic=tech] h4 {
 color: #eb18ff;
}

[topic=design] em, [topic=design] h4 {
 color: #00a0df;
}

[topic=society] em, [topic=society] h4 {
 color: #6b3cff;
}

@media (max-width: 979px) {
h1, h4 {
  text-align: center;
}

section.image-with-text figure {
  margin: 2rem auto;
  float: none;
  width: 80%;
  max-width: 500px;
}

section.image-with-text article {
  float: none;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

section.topics section:nth-child(1n) figure {
  float: none;
  width: 80%;
  max-width: 400px;
  margin: 3rem auto 0 auto;
}
section.topics section:nth-child(1n) article {
  float: none;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 699px) {
html {
  font-size: 18px;
}
body > header {
  height: 400px;
  background-image: url("/assets/images/keyvisual-small.svg");
  background-size: 700px 400px;
  padding-top: 70px;
}
}

