/*
 * Headlines/Footer   0e003b
 * Text               4a4a4a
 * Tech               eb18ff
 * Design             00a0df
 * Society            6b3cff
 * Background         f9f9f9
 * Dark Background    470076
 * /

/* ================================ */
/* Element reset and defaults */

html {
  font-size: 20px;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
}

*, *:before, *:after {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #4a4a4a;
  box-sizing: inherit;
  padding: 0;
  letter-spacing: 0.02rem;
}

h1, h2, h3, h1 *, h2 *, h3 * {
  font-weight: 700;
  letter-spacing: 0.05rem;
  font-size: 1.5rem;
  font-style: normal;
  margin-top: 0;
  color: #0e003b;
}

h4 {
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 0.8rem;
  font-style: normal;
  text-transform: uppercase;
  margin-top: 0;
}

figure, article {
  margin: 2rem 0;
}

figure {
  width: 100%;
  max-width: 500px;
}

b, strong {
  font-weight: 700;
  letter-spacing: 0.05rem;
}

body div {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

body div.centered {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

main > section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

main > section:nth-child(odd) {
  background-color: #f9f9f9;
}

main > section > h1 {
  text-align: center;
}

/* ================================ */
/* Buttons */

a[button] {
  background-color: #6b3cff;
  border: 0;
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  margin: 1rem;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

a[button]:hover {
  text-decoration: underline;
}

/* ================================ */
/* Keyvisual */

body > header {
  height: 600px;
  background-image: url("/assets/images/keyvisual.svg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: auto;
  background-size: 4096px 600px;
  background-color: #470076;
  padding-top: 70px;
}

body > header[small] {
  height: 70px;
}

body > header * {
  color: white;
}

body > header *:first-child {
  margin-top: 0;
}

/* ================================ */
/* Navigation */

nav {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  padding: 1rem;
}

nav a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 2px;
}

nav a:first-child {
  float: left;
}

nav a:last-child {
  float: right;
}

nav:after {
  content: '';
  display: block;
  clear: both;
}

/* ================================ */
/* Footer */

footer {
  text-align: center;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #470076;
}

footer a {
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
}

/* ================================ */
/* Topics */

section.topics section:nth-child(even) figure {
  float: right;
}

section.topics section:nth-child(even) article {
  float: left;
}

section.topics section:nth-child(odd) figure {
  float: left;
}

section.topics section:nth-child(odd) article {
  float: right;
}

section.topics section figure, section.topics section article {
  width: 50%;
}

section.topics section article {
  padding-left: 2rem;
  padding-right: 2rem;
}

section.topics section:after {
  content: '';
  display: block;
  clear: both;
}

/* ================================ */
/* Speaker */

section.speakers {
  text-align: center;
}

section.speakers section {
  background-color: white;
  border: 1px solid #e9e9e9;
  position: relative;
  max-width: 30%;
  min-height: 28rem;
  display: inline-block;
  vertical-align: top;
  border-radius: 15px;
  padding: 2%;
  margin: 1%;
}

section.speakers article * {
  font-size: 0.8rem
}

section.speakers section figure {
  text-align: center;
  width: 100%;
}

section.speakers section figure:first-child img {
  width: 150px;
  border-radius: 50%;
}

section.speakers section figure:last-child {
  left: 0;
  bottom: 1%;
  position: absolute;
}

section.speakers section figure:last-child img {
  width: 150px;
}

section.speakers:after {
  content: '';
  display: block;
  clear: both;
}

/* ================================ */
/* Location */

section.location figure {
  float: left;
  width: 50%;
}

section.location figure img {
  width: 100%;
}

section.location article {
  float: right;
  width: 50%;
  padding-left: 2rem;
  padding-right: 2rem;
}

section.location:after {
  content: '';
  display: block;
  clear: both;
}

/* ================================ */
/* Topic related coloring */


[topic=tech] em, [topic=tech] h4 {
 color: #eb18ff;
}

[topic=design] em, [topic=design] h4 {
 color: #00a0df;
}

[topic=society] em, [topic=society] h4 {
 color: #6b3cff;
}

@media (max-width: 979px) {
h1, h4 {
  text-align: center !important;
}

section.location figure {
  margin: 2rem auto;
  float: none;
  width: 80%;
  max-width: 500px;
}

section.location article {
  float: none;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

section.topics section:nth-child(1n) figure {
  float: none;
  width: 80%;
  max-width: 400px;
  margin: 3rem auto;
}
section.topics section:nth-child(1n) article {
  float: none;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 699px) {
html {
  font-size: 18px;
}
body > header {
  height: 400px;
  background-image: url("/assets/images/keyvisual-small.svg");
  background-size: 700px 400px;
  padding-top: 70px;
}
}

