/* Element reset and defaults */
html {
  font-size: 23px;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #470076;
}

*, *:before, *:after {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  color: #19002f;
  box-sizing: inherit;
  padding: 0;
}

h1, h2 {
  font-weight: 700;
}

figure {
  margin: 0
}

/* Main column layout */

main {
  background-color: white;
  border-radius: 10px 10px 0 0;
  padding-top: 1rem;
}

main > section {
  margin-bottom: 3rem;
}

main, section {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

section > *:not(ol) {
  padding-left: 10%;
  padding-right: 10%;
}

section img {
  width: 80%;
  max-width: 500px;
}

nav {
  background-color: #19002f;
  color: white;
  text-align: right;
  float: right;
}

nav a {
  display: inline-block;
  color: white;
  padding: 0.3rem;
  font-size: 0.8rem;
}

ol li {
  list-style-type: none;
  vertical-align: top;
  max-width: 31.33%;
  display: inline-block;
  box-shadow: 0px 10px 20px #ddd;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 2rem;
}

ul li {
  list-style-type: circle;
  margin: 1rem;
}

b, strong {
  font-weight: 700;
}

/* Buttons */
button {
  background-color: #c625ff;
  border: 0;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
}
button:not([disabled]) {
  cursor: pointer;
}

button:not([disabled]):hover {
  text-decoration: underline;
}

button[disabled] {
  background-color: grey;
}


/* 1st level headlines */

section h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
}

/* 2nd level headlines */

section section h1, section h2 {
  font-family: 'Roboto', serif;
  font-size: 1.4rem;
}

/* 3rd level headlines */

section h3 {
  font-family: 'Roboto', serif;
  font-size: 1.3rem;
}


/* global header styling */
body > header {
  height: 750px;
  background-image: url("/assets/images/keyvisual.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-size: 4096px 750px;
  background-color: #470076;
}

body > header * {
  color: white;
}

body > header h1 img {
  width: 50%;
  max-width: 200px;
}

body > header * {
  font-size: 1.1rem;
}

body > header > section:first-child {
  padding: 4rem;
  padding-top: 4rem;
}

/* global footer styling */
body > footer {
  background-color: #19002f;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

body > footer *{
  color: white;
  display: inline;
  text-align: right;
  font-size: 0.7rem;
  padding: 1rem;
}

body > footer a {
  text-decoration: none;
}

/* nested section styling */
section section header {
  padding-left: 0;
  padding-right: 0;
}

section section *:not(header) {
  padding-left: 5%;
  padding-right: 5%;
}

section section p {
  font-size: 0.8rem;
}

section section * {
  text-align: left;
}

section section h1::after {
  content: " ";
  display: block;
  margin: 1em 0;
  height: 0.2em;
  width: 2em;
}

section[topic] p {
  min-height: 13rem;
}

/* section header styling */
section header figure {
  min-height: 100px;
  width: 100%;
  display: inline-block;
}


/* breakpoints */
@media (max-width: 979px) {
ol li {
  max-width: 47%;
}

section[topic] p {
  min-height: 10rem;
}
}

@media (max-width: 699px) {
ol li {
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

section[topic] p {
  min-height: 10rem;
}
}

/* topic related colors */

[topic=tech] h1::after, [topic=tech] figure {
  background-color: #c625ff;
}

[topic=design] h1::after, [topic=design] figure {
  background-color: #19002f;
}

[topic=society] h1::after, [topic=society] figure {
  background-color: #658eff;
}
