<main>
  <section class="image-with-text">
    <div>
      <article>
        <%= content 'blog' %>
      </article>
      <figure>
        <img src="/assets/images/consensus.svg" alt="People having a consent">
      </figure>
    </div>
  </section>
  <section>
    <div>
      <article>
        <h1>This is a blog post</h1>
        <p>
All attendees, speakers, sponsors, organizers and volunteers at our conference are required to agree with the following code of conduct.
        </p>
        <a href="#">Read more</a>
      </article>
      <article>
        <h1>This is a blog post</h1>
        <p>
All attendees, speakers, sponsors, organizers and volunteers at our conference are required to agree with the following code of conduct.
        </p>
        <a href="#">Read more</a>
      </article>
      <article>
        <h1>This is a blog post</h1>
        <p>
All attendees, speakers, sponsors, organizers and volunteers at our conference are required to agree with the following code of conduct.
        </p>
        <a href="#">Read more</a>
      </article>
      <article>
        <h1>This is a blog post</h1>
        <p>
All attendees, speakers, sponsors, organizers and volunteers at our conference are required to agree with the following code of conduct.
        </p>
        <a href="#">Read more</a>
      </article>
    </div>
  </section>
</main>
