<main>
  <section class="blog">
    <div>
      <h1>Think About! Reading a Blog</h1>
      <% blog_posts.each do |post| %><a href="#"><section>
          <div><img alt="" src="/assets/images/blog/first-post/thumbnail.png" /></div>
          <div>
            <span>Chrissi / November 12</span>
            <h1><%= post.meta['title'] %></h1>
            <p>TDD - especially Unit Testing - has evolved to a known and accepted paradigm in software development. But nevertheless, the test-first approach behind TDD can quickly lead to brittle test code which is hard to understand and to maintain.</p>
            <span>Read more</span>
          </div>
        </section></a><% end %>
    </div>
  </section>
</main>
