<main>
  <section class="speaker-details">
    <div class="container">
      <p>
        <b>The Think About! 2020 was canceled.</b> <a href="/blog/corona.html">Read More</a>
      </p>
      <% if talk.draft? %>
        <h1>To be Decided</h1>
      <% else %>
        <h1><%= talk.title %></h1>
      <% end %>
      <ul>
        <li><em topic="<%= talk.track.slug %>"><%= talk.track.readable %></em></li>
        <li>Length: 45 Min</li>
        <% if talk.language_details? %>
        <li>Language: <%= talk.language_details %></li>
        <% else %>
        <li>Language: <%= talk.language %></li>
        <% end %>
      </ul>
      <article>
        <% if talk.draft? %>
          To be Decided
        <% else %>
          <%= markdown talk.abstract %>
        <% end %>
        <% if talk.host? %>
        <div class="performance-host">
          <p>Hosted by:</p>
          <a href="<%= talk.host.link %>"><img src="<%= talk.host.image_path %>" /></a>
        </div>
        <% end %>
      </article>
    </div>
  </section>
  <section class="speaker-details">
    <div class="container">
      <article class="bio">
        <figure>
          <% talk.speakers.each do |speaker| %>
          <img src="<%= speaker.big_image_path %>" />
          <% end %>
        </figure>
        <% talk.speakers.each do |speaker| %>
        <div>
          <h1><%= speaker.name %></h1>
          <p><%= speaker.job_title %>
          <% unless speaker.independent? %>
          @
          <a href="<%= speaker.company_link %>"><%= speaker.company_name %></a></p>
          <% end %>
          <p><%= markdown speaker.bio %></p>
          <p>
            <% speaker.links.each_with_index do |l, i| %>
              <a href="<%= l.link %>"><%= l.name %></a>
              <%= ' | ' if i < speaker.links.size - 1 %>
            <% end %>
          </p>
        </div>
        <% end %>
      </article>
    </div>
  </section>
  <section class="Textbox">
    <div class="container">
      <%= partial 'sponsors/gold' %>
    </div>
  </section>
  <section class="Textbox Textbox-small">
    <%= partial 'updates' %>
  </section>
</main>

<% content_for :metatags do %>
<% title = html_escape strip_tags markdown talk.title %>
<% abstract = html_escape strip_tags markdown talk.abstract %>
<% image_path = "https://think-about.io/images/events/2020/talks/#{talk.slug}_card.png" %>

<meta property="og:image" content="<%= image_path %>">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:title" content="<%= title %>">
<meta property="og:description" content="<%= abstract %>">
<meta property="og:type" content="article" />
<meta property="og:url" content="<%= "https://think-about.io#{current_page.url}" %>" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@thinkaboutconf">
<meta name="twitter:title" content="<%= title %>">
<meta name="twitter:description" content="<%= abstract %>">
<meta name="twitter:image" content="<%= image_path %>">
<meta name="twitter:domain" content="think-about.io">
<% end %>
