<main>
  <section>
    <div class="centered">
      <%= content "about-us" %>
      <a href="<%= t('about-us.contact-link') %>" button=""><%= t('about-us.contact-text') %></a>
      <figure>
        <img src="/assets/images/about-us.svg" alt="The Think About! Founders">
      </figure>
    </div>
  </section>
</main>
