<main>
  <section>
    <div class="centered">
      <%= content "about-us" %>
      <figure>
        <img src="/assets/images/about-us.svg" alt="The Think About! Founders">
      </figure>
    </div>
  </section>
</main>

