<main>
  <section class="image-with-text">
    <div>
      <article>
        <%= content 'consensus_intro' %>
      </article>
      <figure>
        <img src="/assets/images/consensus.svg" alt="People having a consent">
      </figure>
    </div>
  </section>
  <section>
    <div>
      <%= content 'consensus' %>
    </div>
  </section>
</main>

