<main>
  <section>
    <div class="centered">
      <%= content 'group_intro' %>
    </div>
    <figure>
      <img src="/assets/images/group.svg" alt="Group of five monsters">
    </figure>
  </section>
  <section class="grouptickets">
    <div>
      <section>
        <h1><%= t('grouptickets.diversity.title') %></h1>
        <p>For the this challenge you need to come up with a diverse team. You'll need: </p>
        <ul>
          <li>5 people or more</li>
          <li>A diverse team</li>
          <li>A team name</li>
          <li>Punkt 4</li>
        </ul>
      </section>
      <section>
        <h1><%= t('grouptickets.supporter.title') %></h1>
        <p>For the this challenge you need to come up with a diverse team. You'll need: </p>
        <ul>
          <li>5 people or more</li>
          <li>A diverse team</li>
          <li>A team name</li>
          <li>Punkt 4</li>
      </section>
    </div>
  </section>
</main>



