<main>
  <section>
    <div class="centered">
      <%= content 'group_intro' %>
    </div>
    <figure>
      <img src="/assets/images/group.svg" alt="Group of five monsters">
    </figure>
  </section>
</main>

