<main>
  <section>
    <div class="centered">
      <%= content 'group_intro' %>
    </div>
    <figure>
      <img src="/assets/images/group.svg" alt="Group of five monsters">
    </figure>
  </section>
  <section class="grouptickets">
    <div>
      <article>
        <%= content 'diversity-challenge' %>
        </article>
    </div>
    <div>
      <article>
      <%= content 'supporter-package' %>
        </article>
    </div>
  </section>
</main>



