<main>
  <section>
    <div class="centered">
      <%= content 'tickets_intro' %>
       <a href="https://newsletter.hrx.events/subscription/DUogKTFJF?email=" button><%= t('newsletter.anchor-link-title') %></a>
    </div>
  </section>
  <section class="ticket-benefits image-with-text">
    <div>
      <article>
        <%= content 'tickets_benefits' %>
      </article>
      <figure>
        <img src="/assets/images/benefits.svg" alt="Monster Friends">
      </figure>
    </div>
    <a button href="/blog/10-reasons.html"><%= t('tickets.reasons_button_text') %></a>
  </section>
</main>

