<main>
  <section>
    <div class="centered">
      <h1>That didn't work!</h1>

      <p>
      You are already subscribed using this E-Mail address.
      </p>

      <figure>
        <img src="/images/solidarity.svg" alt="A Monster giving away free tickets.">
      </figure>
    </div>
  </section>
</main>
