<main>
  <section>
    <div class="centered">
      <h1>That didn't work!</h1>

      <p>
      Unfortunately, your email address is blocked, please use another address
      to subscribe.
      </p>

      <figure style="max-width: 400px; margin: 0 auto; padding: 2rem;">
        <img src="/images/newsletter/sad.svg" alt="A really sad monster nearly crying.">
      </figure>
    </div>
  </section>
</main>
