<main>
  <section>
    <div class="centered">
      <h1>That didn't work!</h1>

      <p>
      Unfortunately, your E-Mail address is blocked, please use another address
      to subscribe.
      </p>

      <figure>
        <img src="/images/solidarity.svg" alt="A Monster giving away free tickets.">
      </figure>
    </div>
  </section>
</main>
