<main>
  <section>
    <div class="centered">
      <h1>You've got an E-Mail...</h1>

      <p>
      ... with an activation link.
      <br/>
      Once you clicked this link the subscription
      is done and you will receive our newsletter.
      </p>

      <figure>
        <img src="/images/solidarity.svg" alt="A Monster giving away free tickets.">
      </figure>
    </div>
  </section>
</main>

