<main>
  <section>
    <div class="centered">
      <h1>You've got an email...</h1>

      <p>
      ... with an activation link.
      <br/>
      Once you clicked this link the subscription
      is done and you will receive our newsletter.
      </p>

      <figure style="max-width: 400px; margin: 0 auto; padding: 2rem;">
        <img src="/images/newsletter/success.svg" alt="A really happy monster holding a letter.">
      </figure>
    </div>
  </section>
</main>

