<main>
  <section>
    <div class="centered">
      <h1>Thanks for your Subscription!</h1>

      <p>
      That went well.
      <br/>
      You are now subscribed to our newsletter.
      </p>

      <figure>
        <img src="/images/solidarity.svg" alt="A Monster giving away free tickets.">
      </figure>
    </div>
  </section>
</main>
