<main>
  <section>
    <div class="centered">
      <h1>Thanks for your Subscription!</h1>

      <p>
      That went well.
      <br/>
      You are now subscribed to our newsletter.
      </p>

      <figure style="max-width: 400px; margin: 0 auto; padding: 2rem;">
        <img src="/images/newsletter/thank-you.svg" alt="A really happy monster holding a heart.">
      </figure>
    </div>
  </section>
</main>
