<main>
  <section>
    <div class="centered">
      <h1>We are sorry to seeing you leave!</h1>

      <p>
      You have been successfully unsubscribed from our newsletter. If you which
      to give us feedback regarding your reasons or how to improve the
      newsletter, please drop us a message:
      </p>

      <a href="mailto:kontakt@think-about.io?subject=Feedback" button>Get in Touch</a>

      <figure>
        <img src="/images/solidarity.svg" alt="A Monster giving away free tickets.">
      </figure>
    </div>
  </section>
</main>
