<main>
  <section>
    <div class="centered">
      <h1>We are sorry to seeing you leave!</h1>

      <p>
      You have been successfully unsubscribed from our newsletter. If you which
      to give us feedback regarding your reasons or how to improve the
      newsletter, please drop us a message:
      </p>

      <a href="mailto:kontakt@think-about.io?subject=Feedback" button>Get in Touch</a>

      <figure style="max-width: 400px; margin: 0 auto; padding: 2rem;">
        <img src="/images/newsletter/sad.svg" alt="A really sad monster nearly crying.">
      </figure>
    </div>
  </section>
</main>
