<img src="/images/portrait-christina.png"><div>
  <h1>Christina Holderbaum</h1>
  <p>Founder of Think About!, Product Designer, Monster Addict &amp; Amateur Baker</p>
  <p>
    <a href="https://twitter.com/Chrissi_Hldrbm">Twitter</a> |
    <a href="https://github.com/ChrissiHold">Github</a> |
    <a href="https://holderbaum.io/">Website</a> |
    <a href="mailto:christina@holderbaum.io">Mail</a>
  </p>
</div>
