Redirect 302 /en https://think-about.io/
Redirect 302 /de https://think-about.io/
Redirect 302 /en/ https://think-about.io/
Redirect 302 /de/ https://think-about.io/
Redirect 302 /goto/twitter https://twitter.com/thinkaboutconf
Redirect 302 /goto/meetup https://www.meetup.com/Think-About-about-Tech-Design-and-their-impact-on-Society/
Redirect 302 /goto/xing https://www.xing.com/events/think-about-konferenz-tech-design-society-2028212
Redirect 302 /goto/github https://github.com/hrx-events/think-about
Redirect 302 /goto/pretix-en https://pretix.eu/locale/set?locale=en&next=/hrx/think-about-2019/
Redirect 302 /goto/pretix-de https://pretix.eu/locale/set?locale=de-informal&next=/hrx/think-about-2019/
Redirect 302 /goto/makuyuni https://makuyuni.org/
Redirect 302 /goto/dasguteruft https://dasguteruft.de/
Redirect 302 /goto/workingdraft https://workingdraft.de/
Redirect 302 /goto/womenwhocode https://www.womenwhocode.com/
Redirect 302 /goto/spacepilots https://spacepilots.co/
Redirect 302 /goto/femtec https://www.femtec-alumnae.org/
Redirect 302 /goto/beyondtellerrand https://beyondtellerrand.com/
Redirect 302 /goto/dmw https://digitalmediawomen.de/
Redirect 302 /goto/meetup/stammtisch/20190307 https://www.meetup.com/de-DE/Think-About-about-Tech-Design-and-their-impact-on-Society/events/bhhvrqyzfbkb/

RedirectMatch 301 /events/2019/speakies/(.*) https://think-about.io/events/2019/speakers/$1
