<footer>
  <nav>
    <a id="footer" href="#"><img src="/images/icons/close.svg"/></a>
    <a logo href="/"><img src="/images/logo.svg" alt="Think About! Logo"/></a>
    <ul>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/about-us.html">About</a></li>
      <li><a href="/tickets.html">Tickets</a></li>
      <li><a href="/cfp.html">CfP</a></li>
      <li><a href="/consensus.html">Consensus</a></li>
      <li><a href="/about.html">Legal Notice</a></li>
      <li><a href="/privacy.html">Privacy</a></li>
      <li><a href="https://cdn.think-about.io/Think_About_Press_Kit.zip">Download Press Kit</a></li>
    </ul>
    <div>
      <a href="/goto/twitter"><img src="/images/icons/twitter.svg"/></a>
      <a href="/goto/github"><img src="/images/icons/github.svg"/></a>
      <a href="/goto/meetup"><img src="/images/icons/meetup.svg"/></a>
      <a href="/goto/xing"><img src="/images/icons/xing.svg"/></a>
      <a href=mailto:kontakt@think-about.io"><img src="/images/icons/email.svg"/></a>
    </div>
  </nav>
</footer>

