<header class="Keyvisual">
  <div class="container">
    <p>
Think About! is a two-day community event about technology, design and their impacts on society.
    </p>
    <p>
      <b>Think About! 2020 canceled.<br>See you in 2021.<br><a button href="/blog/corona.html">Read More</a></b>
    </p>
  </div>
</header>
