<header class="Keyvisual">
  <div class="container">
    <p>
Think About! is a two-day community event about technology, design and their impacts on society.
    </p>
    <p>
      <b><a button href="/events/">Our Events!</a></b>
    </p>
  </div>
</header>
