<header class="Keyvisual">
  <div class="container">
    <p>
Think About! is a two-day community event about technology, design and their impacts on society.
    </p>
    <p>
      <b>June 4th &amp; 5th 2020 in Cologne</b>
    </p>
    <% if selling_tickets? %>
    <a href="/tickets.html" button>Get Ticket</a>
    <% end %>
  </div>
</header>
