<header class="Keyvisual">
  <div class="container">
    <p>
Think About! is a two-day community event about technology, design and their impacts on society.
    </p>
    <p>
      <b><a href="/blog/corona.html">Think About! 2020 canceled</a>.<br>See you in 2021</b>
    </p>
  </div>
</header>
