<header>
  <section>
    <div class="centered">
      <p>
Think About! is a two-day community event about technology, design and their impacts on society.
      </p>
      <p>
        <b>May / June 2020, Cologne</b>
      </p>
    </div>
  </section>
</header>
