<nav class="Header">
  <div class="container">
    <a href="/" class="Header-image"><img src="/images/logo.svg" alt="Think About! Logo"/></a>
    <ul class="Header-links">
      <li><%= nav_link 'Speaker', '/speaker.html' %></li>
      <li><%= nav_link 'Venue', '/venue.html' %></li>
      <li><%= nav_link 'Consensus', '/consensus.html' %></li>
      <li><%= nav_link 'Past Events', '/events/' %></li>
      <li><a button href="/tickets.html">Get Ticket</a></li>
    </ul>
    <% if is_landing_page? %>
    <a class="Header-menu-button" href="#footer"><img src="/images/menu.svg"/></a>
    <% else %>
    <a class="Header-menu-button" href="#footer"><img src="/images/menu-dark.svg"/></a>
    <% end %>
  </div>
</nav>
