<nav desktop>
  <div>
    <a href="/"><img src="/images/logo.svg" alt="Think About! Logo"/></a>
    <ul>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/about-us.html">About</a></li>
      <li><a href="/tickets.html">Tickets</a></li>
      <li><a href="/cfp.html">CfP</a></li>
      <li><a href="/consensus.html">Consensus</a></li>
    </ul>
  </div>
</nav>
<% if is_landing_page? || is_event? %>
  <nav mobile>
<% else %>
  <nav mobile dark>
<% end %>
  <div>
    <% if is_landing_page? || is_event? %>
      <a href="#footer"><img src="/images/menu.svg"/></a>
    <% else %>
      <a href="#footer"><img src="/images/menu-dark.svg"/></a>
    <% end %>
  </div>
</nav>

