<nav class="Header">
  <div class="container">
    <a href="/" class="Header-image"><img src="/images/logo.svg" alt="Think About! Logo"/></a>
    <ul class="Header-links">
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/about-us.html">About</a></li>
      <li><a href="/tickets.html">Tickets</a></li>
      <li><a href="/cfp.html">CfP</a></li>
      <li><a href="/consensus.html">Consensus</a></li>
    </ul>
    <% if is_landing_page? %>
    <a class="Header-menu-button" href="#footer"><img src="/images/menu.svg"/></a>
    <% else %>
    <a class="Header-menu-button" href="#footer"><img src="/images/menu-dark.svg"/></a>
    <% end %>
  </div>
</nav>
