<form method="post" action="https://lists.holderbaum.io/?p=subscribe&id=1">
  <input type="email" name="email" placeholder="you@example.org"/>
  <input type="hidden" name="list[3]" value="signup">
  <input type="hidden" name="listname[3]" value="Think About! Newsletter">
  <input type="hidden" name="htmlemail" value="1">
  <input type="hidden" name="makeconfirmed" value="0">
  <input type="hidden" name="VerificationCodeX" value="">
  <input type="submit" name="subscribe" value="Subscribe"/>
</form>
