<form action="https://eu2.cleverreach.com/f/240406-236381/wcs/" method="post" target="_blank">
<input required name="email" value="" type="email" placeholder="you@example.org"/>
<input name="cr_subunsubscribe" type="hidden" value="true" checked />
<input type="submit" value="Subscribe"/>
</form>
