<div>
  <h1>Our 2019 Universe Sponsors</h1>
  <div>
    <% data.events['2019']['universe-sponsors'].each do |sponsor| %>
    <% path = "/images/events/2019/partners/#{sponsor[:name]}.png" %>
    <% height = sponsor.fetch :height, 70 %>
    <% href = sponsor[:link] %>
    <a href="<%= href %>"><figure><img style="height: <%= height %>px" src="<%= path %>"/></figure></a>
    <% end %>
  </div>
  <span note>Interested in becoming a sponsor? <a href="mailto:christina@holderbaum.io">Get in touch</a></span>
</div>
