    <div class="centered">
      <h1 id="newsletter">You don't want to miss an update?</h1>
      <p>
Subscribe to our monthly newsletter*. It provides you with regular news about
the event, behind the scenes content, updates to the speakies and much more.
      </p>
      <form method="get" action="/goto/newsletter">
        <input type="email" name="email" placeholder="you@example.org"/>
        <input type="submit" value="Subscribe"/>
      </form>
      <figure>
        <img src="/images/buddies.svg" alt="Think About! Monsters">
      </figure>
      <span note>* We use the Open Source Software <a href="https://mailtrain.org/">Mailtrain</a></span>
    </div>
