    <div class="container">
      <h1 id="newsletter">You don't want to miss an update?</h1>
      <p>
Subscribe to our monthly newsletter*. It provides you with regular news about
the event, behind the scenes content, updates to the speakers and much more.
      </p>
      <%= partial 'newsletter_form' %>
      <figure>
        <img src="/images/buddies.svg" alt="Think About! Monsters">
      </figure>
      <span note>
        * We use the German Newsletter Provider <a href="https://cleverreach.de/">CleverReach</a>.<br/>
        All data (your E-Mail address) is stored in European datacenters under GDPR compliance.
        You can unsubscribe by a single click at any time.
      </span>
    </div>
