<main>
  <section class="image-with-text">
    <div class="container">
      <article>
        <h1>About Us!</h1>
        <p>
We are Christina, Jakob and Rudi from Cologne, Germany! We are two human-beings
and a dog who are realizing a long time dream to make their own conference
possible. We are currently planning the Think About! in our free time among our
daily jobs in the tech industry.
        </p>
        <center>
          <a href="office@holderbaum.io" button="">Get in touch</a>
        </center>
      </article>
      <figure>
        <img src="/images/about-us.jpg" alt="The Think About! Founders">
      </figure>
    </div>
  </section>
  <section class="about-us">
    <div class="container">
      <section>
        <figure>
          <img src="/images/portrait-christina.png" alt="Portrait of Christina.">
        </figure>
        <article>
          <h1>Hi, I am Christina</h1>
          <p>
I am a product designer that advocates for privacy, digital rights and
diversity. With Think About! I can finally fulfill my dream to create an event
that is unique, focuses on human-beings and makes people think about their own
responsibilities towards our society.
          </p>
          <p>
          <a href="https://twitter.com/Chrissi_Hldrbm">Twitter</a> |
          <a href="https://github.com/ChrissiHold">Github</a> |
          <a href="https://holderbaum.io/">Website</a> |
          <a href="mailto:christina@holderbaum.io">Mail</a>
          </p>
        </article>
      </section>
      <section>
        <figure>
          <img src="/images/portrait-jakob.png" alt="Portrait of Jakob.">
        </figure>
        <article>
          <h1>Hi, I am Jakob</h1>
          <p>
Visiting and speaking at tech conferences sparked my enthusiasm for conferences
as a utility to bring people together. For me, Think About! is a way to have a
meaningful impact on a part of our society.
          </p>
          <p>
Outside of organizing Think About! I work as a consultant for agile software
delivery teams.
          </p>
          <p>
          <a href="https://twitter.com/hldrbm">Twitter</a> |
          <a href="https://github.com/holderbaum">Github</a> |
          <a href="https://holderbaum.io/">Website</a> |
          <a href="mailto:jakob@holderbaum.io">Mail</a>
          </p>
        </article>
      </section>
      <section>
        <figure>
          <img src="/images/portrait-rudi.png" alt="Portrait of Rudi.">
        </figure>
        <article>
          <h1>Hi, I am Rudi</h1>
          <p>
I am a dog! I like dog-things like chillaxing all day or eating weird things
that have been laying on the streets for weeks.
          </p>
          <p>
For obvious reasons, I have neither Twitter, nor my own Website or even an
E-Mail account.
          </p>
        </article>
      </section>
    </div>
  </section>
  <section class="Textbox Textbox-small">
    <%= partial 'updates' %>
  </section>
</main>
