<main>
  <section class="image-with-text">
    <div class="container">
      <article>
        <h1>About Us!</h1>
        <p>
We are Chrissi, Jakob and Rudi from Cologne, Germany! We are two human-beings
and a dog who are realizing a long time dream to make their own conference
possible. We are currently planning the Think About! in our free time among our daily jobs in the tech industry.
        </p>
        <p>
Our world should become a better and safer place for every human being –
regardless of their personal backgrounds and beliefs. <b>So let’s come together
and do something great!</b>
        </p>
        <p>
If you have any questions or feedback for us, or you simply want to get to know
us please feel free to reach out at any time.
        </p>
        <center>
          <a href="kontakt@think-about.io" button="">Get in touch</a>
        </center>
      </article>
      <figure>
        <img src="/images/about-us.jpg" alt="The Think About! Founders">
      </figure>
    </div>
  </section>
  <section class="about-us">
    <div class="container">
      <section>
        <figure>
          <img src="/images/portrait-chrissi.png" alt="Portrait of Chrissi.">
        </figure>
        <article>
          <h1>Hi, I am Chrissi</h1>
          <p>
I am a product designer that advocates for privacy, digital rights and
diversity. With Think About! I can finally fulfill my dream to create an event
that is unique, focuses on human-beings and makes people think about their own
responsibilities towards our society.
          </p>
          <a href="https://twitter.com/Chrissi_Hldrbm">Twitter</a> |
          <a href="https://github.com/ChrissiHold">Github</a> |
          <a href="https://christina.holderbaum.me/">Website</a> |
          <a href="mailto:chrissi@think-about.io">Mail</a> |
          <a href="/assets/chrissi.asc">GPG</a>
        </article>
      </section>
      <section>
        <figure>
          <img src="/images/portrait-jakob.png" alt="Portrait of Jakob.">
        </figure>
        <article>
          <h1>Hi, I am Jakob</h1>
          <p>
Visiting and speaking at tech conferences sparked my enthusiasm for conferences
as a utility to bring people together. For me, Think About! is a way to have a
meaningful impact on a part of our society.
          </p>
          <p>
Outside of organizing Think About! I work as a consultant for agile software
delivery teams.
          </p>
          <a href="https://twitter.com/hldrbm">Twitter</a> |
          <a href="https://github.com/holderbaum">Github</a> |
          <a href="https://holderbaum.io/">Website</a> |
          <a href="mailto:jakob@think-about.io">Mail</a> |
          <a href="/assets/jakob.asc">GPG</a>
        </article>
      </section>
      <section>
        <figure>
          <img src="/images/portrait-rudi.png" alt="Portrait of Rudi.">
        </figure>
        <article>
          <h1>Hi, I am Rudi</h1>
          <p>
I am a dog! I like dog-things like chillaxing all day or eating weird things
that have been laying on the streets for weeks.
          </p>
          <p>
For obvious reasons, I have neither Twitter, nor my own Website or even an
E-Mail account.
          </p>
        </article>
      </section>
    </div>
  </section>
</main>
