<main>
  <section>
    <div class="centered">
      <h1>Call for Participation</h1>
      <p>
We are not running an official Call for Participation (CfP) for the Think
About! 2020. The reason is simply that we are focusing on many different
aspects in our speaker lineup: gender- and ethnical diversity, good mixture of
technical and non-technical topics that work with each other, amateurs and
seasoned speakers and of course a sensible combination of locals and people
from far away.
      </p>
      <p>
We believe that introducing a CfP would limit us to the submissions we get and
thus makes it immediately harder to focus on the aspects above.
      </p>
      <p>
If you however have a topic that concerns itself with tech, design and their
impacts on society and you agree with our <a
href="/consensus.html#coc">Code of Conduct</a> feel free
to reach out to us directly.
      </p>
       <a href="mailto:office@holderbaum.io" button>Get in touch</a>
    </div>
  </section>
</main>

