<main>
  <section class="image-with-text">
    <div>
      <article>
        <h1>Our Consensus</h1>
        <p>
The approach we have chosen to create a safe conference for everyone is based
on these layers:
        </p>
        <p>
All participants have to agree on our <a href="#coc">Code of Conduct</a>.
        </p>
        <p>
With our <a href="#empowerment">Message of Empowerment</a> we want to encourage
everyone to seize their rights!
        </p>
        <p>
Our on-site <a href="#awareness">Awareness-Team</a> is available to support you
and keep everyone safe.
        </p>
        <p>
We also would like to promote a policy of <a href="#privacy">ethical usage of
personal data</a>.
        </p>
      </article>
      <figure>
        <img src="/images/consensus.svg" alt="People having a consent">
      </figure>
    </div>
  </section>
  <section>
    <div>
      <%= partial 'codeofconduct' %>
    </div>
  </section>
</main>

