<%= partial 'keyvisual' %>
<main>
  <section>
    <div class="centered">
      <figure>
        <img width="130px" src="/assets/images/logo.svg" alt="Think About! Logo">
      </figure>
      <p>
Creating an event that is driven by our values was the main motivation for the
<b>Think About! 2019</b>. This event was mainly focussed on four values:
Diversity, Awareness, Solidarity and Privacy. 
      </p>
      <p>
<b>Thanks again</b> to everyone who helped making the first edition of the
Think About! possible. Without you the event would not have been as amazing,
inspiring and magical as it was.
      </p>
      <a href="#newsletter" button>Subscribe to newsletter</a>
    </div>
  </section>
  <section class="events">
    <div>
      <h1>Past Events</h1>
      <div>
        <article>
          <a href="/events/2019.html">
            <figure><img src="/images/events/2019.jpg"/></figure>
            <div>
              <span>May 23rd &amp; 24th in Cologne</span>
              <h1>Think About! 2019</h1>
              <p>
                At the first Think About! Conference 170 people came together to watch amazing speakers such as Linda Rising, Laura Kalbag, Aral Balkan and many many more.
              </p>
              <span>Read more</span>
            </div>
          </a>
        </article>
      </div>
    </div>
  </section>
  <section class="topics">
    <div>
      <section topic="tech">
        <figure>
          <img src="/images/tech.svg">
        </figure>
        <article>
          <h1>Think About <em>Technology!</em></h1>
          <p>
Technology has become a part of nearly every aspect of human life.  We will
present quality talks from domain experts in software development, hardware and
software hacking, internet of things, artificial intelligence and many more.
          </p>
        </article>
      </section>
      <section topic="design">
        <figure>
          <img src="/images/design.svg">
        </figure>
        <article>
          <h1>Think About <em>Design!</em></h1>
          <p>
Nearly everything we use today is designed - whether it’s an app to monitor a
menstrual cycle or self driving cars. Beside others we will cover topics such
as design ethics and product and UX design.
          </p>
        </article>
      </section>
      <section topic="society">
        <figure>
          <img src="/images/society.svg">
        </figure>
        <article>
          <h1>Think About <em>Society!</em></h1>
Technology &amp; design continue to shape humanity as a whole. Topics like
discrimination, social and economic equity, and participation in our society
are more important than ever. We want to create a platform to talk and discuss
these topics.
          <p>
          </p>
        </article>
      </section>
    </div>
  </section>
  <section>
    <%= partial 'updates' %>
  </section>
</main>
