<%= partial 'keyvisual' %>
<main>
  <section class="Textbox Textbox-small">
    <div class="container">
      <figure>
        <img width="130px" src="/images/logo.svg" alt="Think About! Logo">
      </figure>
      <p>
        Our belief is that society needs diversity in order to continue a
        healthy and critical dialogue. For this reason, we want to bring
        together diverse individuals and enable them to challenge themselves
        and each other.
      </p>
    </div>
  </section>
  <section class="Textbox">
    <div class="container">
      <div class="Textbox-text-with-image Textbox-left">
        <figure>
          <img src="/images/tech.svg">
        </figure>
        <article>
          <h1>Think About <em class="tech">Technology!</em></h1>
          <p>
            Technology has become a part of nearly every aspect of human life.
            We will present quality talks from domain experts in software
            development, hardware and software hacking, internet of things,
            artificial intelligence and many more.
          </p>
        </article>
      </div>
      <div class="Textbox-text-with-image Textbox-right">
        <figure>
          <img src="/images/design.svg">
        </figure>
        <article>
          <h1>Think About <em class="design">Design!</em></h1>
          <p>
            Nearly everything we use today is designed - whether it’s an app to
            monitor a menstrual cycle or self driving cars. Beside others we
            will cover topics such as design ethics and product and UX design.
          </p>
        </article>
      </div>
      <div class="Textbox-text-with-image Textbox-left">
        <figure>
          <img src="/images/society.svg">
        </figure>
        <article>
          <h1>Think About <em class="society">Society!</em></h1>
          <p>
            Technology &amp; design continue to shape humanity as a whole.
            Topics like discrimination, social and economic equity, and
            participation in our society are more important than ever. We want
            to create a platform to talk and discuss these topics.
          </p>
        </article>
      </section>
    </div>
  </section>
  <section class="Textbox Textbox-small">
    <%= partial 'updates' %>
  </section>
</main>
