<main>
<section>
<div class="container">
<h1 id="privacy-policy">Privacy Policy</h1>

<h2 id="an-overview-of-data-protection">1. An overview of data protection</h2>

<h3 id="general-information">General information</h3>

<p>The following information will provide you with an easy to navigate overview of what will happen with your personal data when you visit our website. The term “personal data” comprises all data that can be used to personally identify you. For detailed information about the subject matter of data protection, please consult our Data Protection Declaration, which we have included beneath this copy.</p>

<h3 id="data-recording-on-our-website">Data recording on our website</h3>

<p><strong>Who is the responsible party for the recording of data on this website (i.e. the “controller”)?</strong></p>

<p>The data on this website is processed by the operator of the website, whose contact information is available under section “Information Required by Law” on this website.</p>

<p><strong>How do we record your data?</strong></p>

<p>We collect your data as a result of your sharing of your data with us. This may, for instance be information you enter into our contact form.</p>

<p>Our IT systems automatically record other data when you visit our website. This data comprises primarily technical information (e.g. web browser, operating system or time the site was accessed). This information is recorded automatically when you access our website.</p>

<p><strong>What are the purposes we use your data for?</strong></p>

<p>A portion of the information is generated to guarantee the error free provision of the website. Other data may be used to analyse your user patterns.</p>

<p><strong>What rights do you have as far as your information is concerned?</strong></p>

<p>You have the right to receive information about the source, recipients and purposes of your archived personal data at any time without having to pay a fee for such disclosures. You also have the right to demand that your data are rectified, blocked or eradicated. Please do not hesitate to contact us at any time under the address disclosed in section “Information Required by Law” on this website if you have questions about this or any other data protection related issues. You also have the right to log a complaint with the competent supervising agency.</p>

<p>Moreover, under certain circumstances, you have the right to demand the restriction of the processing of your personal data. For details, please consult the Data Protection Declaration under section “Right to Restriction of Data Processing.”</p>

<h2 id="general-information-and-mandatory-information">2. General information and mandatory information</h2>

<h3 id="data-protection">Data protection</h3>

<p>The operators of this website and its pages take the protection of your personal data very seriously. Hence, we handle your personal data as confidential information and in compliance with the statutory data protection regulations and this Data Protection Declaration.</p>

<p>Whenever you use this website, a variety of personal information will be collected. Personal data comprises data that can be used to personally identify you. This Data Protection Declaration explains which data we collect as well as the purposes we use this data for. It also explains how, and for which purpose the information is collected.</p>

<p>We herewith advise you that the transmission of data via the Internet (i.e. through e-mail communications) may be prone to security gaps. It is not possible to completely protect data against third party access.</p>

<h3 id="information-about-the-responsible-party-referred-to-as-the-controller-in-the-gdpr">Information about the responsible party (referred to as the “controller” in the GDPR)</h3>

<p>The data processing controller on this website is:</p>

<p>Holderbaum GmbH<br>
Kurfürstenstr. 38<br>
54295 Trier</p>

<p>Telephone: +49 (0) 151 / 708 161 45<br>
Email: jakob@holderbaum.io</p>

<p>The controller is the natural person or legal entity that single-handedly or jointly with others makes decisions as to the purposes of and resources for the processing of personal data (e.g. names, e-mail addresses, etc.).</p>

<h3 id="revocation-of-your-consent-to-the-processing-of-data">Revocation of your consent to the processing of data</h3>

<p>A wide range of data processing transactions are possible only subject to your express consent. You can also revoke at any time any consent you have already given us. To do so, all you are required to do is sent us an informal notification via e-mail. This shall be without prejudice to the lawfulness of any data collection that occurred prior to your revocation.</p>

<h3 id="right-to-object-to-the-collection-of-data-in-special-cases-right-to-object-to-direct-advertising-art-21-gdpr">Right to object to the collection of data in special cases; right to object to direct advertising (Art. 21 GDPR)</h3>

<p><strong>In the event that data are processed on the basis of Art. 6 Sect. 1 lit. e or f GDPR, you have the right to at any time object to the processing of your personal data based on grounds arising from your unique situation. This also applies to any profiling based on these provisions. To determine the legal basis, on which any processing of data is based, please consult this Data Protection Declaration. If you log an objection, we will no longer process your affected personal data, unless we are in a position to present compelling protection worthy grounds for the processing of your data, that outweigh your interests, rights and freedoms or if the purpose of the processing is the claiming, exercising or defence of legal entitlements (objection pursuant to Art. 21 Sect. 1 GDPR).</strong></p>

<p><strong>If your personal data is being processed in order to engage in direct advertising, you have the right to at any time object to the processing of your affected personal data for the purposes of such advertising. This also applies to profiling to the extent that it is affiliated with such direct advertising. If you object, your personal data will subsequently no longer be used for direct advertising purposes (objection pursuant to Art. 21 Sect. 2 GDPR).</strong></p>

<h3 id="right-to-log-a-complaint-with-the-competent-supervisory-agency">Right to log a complaint with the competent supervisory agency</h3>

<p>In the event of violations of the GDPR, data subjects are entitled to log a complaint with a supervisory agency, in particular in the member state where they usually maintain their domicile, place of work or at the place where the alleged violation occurred. The right to log a complaint is in effect regardless of any other administrative or court proceedings available as legal recourses.</p>

<h3 id="right-to-data-portability">Right to data portability</h3>

<p>You have the right to demand that we hand over any data we automatically process on the basis of your consent or in order to fulfil a contract be handed over to you or a third party in a commonly used, machine readable format. If you should demand the direct transfer of the data to another controller, this will be done only if it is technically feasible.</p>

<h3 id="ssl-andor-tls-encryption">SSL and/or TLS encryption</h3>

<p>For security reasons and to protect the transmission of confidential content, such as purchase orders or inquiries you submit to us as the website operator, this website uses either an SSL or a TLS encryption programme. You can recognise an encrypted connection by checking whether the address line of the browser switches from “http://” to “https://” and also by the appearance of the lock icon in the browser line.</p>

<p>If the SSL or TLS encryption is activated, data you transmit to us cannot be read by third parties.</p>

<h3 id="encrypted-payment-transactions-on-this-website">Encrypted payment transactions on this website</h3>

<p>If you are under an obligation to share your payment information (e.g. account number if you give us the authority to debit your bank account) with us after you have entered into a fee-based contract with us, this information is required to process payments.</p>

<p>Payment transactions using common modes of paying (Visa/MasterCard, debit to your bank account) are processed exclusively via encrypted SSL or TLS connections. You can recognise an encrypted connection by checking whether the address line of the browser switches from “http://” to “https://” and also by the appearance of the lock icon in the browser line.</p>

<p>If the communication with us is encrypted, third parties will not be able to read the payment information you share with us.</p>

<h3 id="information-about-blockage-rectification-and-eradication-of-data">Information about, blockage, rectification and eradication of data</h3>

<p>Within the scope of the applicable statutory provisions, you have the right to at any time demand information about your archived personal data, their source and recipients as well as the purpose of the processing of your data. You may also have a right to have your data rectified, blocked or eradicated. If you have questions about this subject matter or any other questions about personal data, please do not hesitate to contact us at any time at the address provided in section “Information Required by Law.”</p>

<h3 id="right-to-demand-processing-restrictions">Right to demand processing restrictions</h3>

<p>You have the right to demand the imposition of restrictions as far as the processing of your personal data is concerned. To do so, you may contact us at any time at the address provided in section “Information Required by Law.” The right to demand restrictiohe handling of the contract; for instance, with companies entrusted with the shipment of goods or the financial institution tasked with the processing of payments. Any further transfer of data shall not occur or shall only occur if you have expressly consented to the transfer. Any sharing of your data with third parties in the absence of your express consent, for instance for advertising purposes, shall not occur.</p>

<p>The basis for the processing of data is Art. 6 Sect. 1 lit. b GDPR, which permits the processing of data for the fulfilment of a contract or for pre-contractual actions.</p>

<h2 id="payment-service-providers-and-resellers">4. Payment service providers and resellers</h2>

<h3 id="paypal">PayPal</h3>

<p>Among other options, we offer payment via PayPal on our website. The provider of this payment processing service is PayPal (Europe) S.à.r.l. et Cie, S.C.A., 22-24 Boulevard Royal, L-2449 Luxembourg (hereinafter referred to as “PayPal”).</p>

<p>If you choose payment via PayPal, we will share the payment information you enter with PayPal.</p>

<p>The legal basis for the sharing of your data with PayPal is Art. 6 Sect. 1 lit. a GDPR (consent) as well as Art. 6 Sect. 1 lit. b GDPR (processing for the fulfilment of a contract). You have the option to at any time revoke your consent to the processing of your data. Such a revocation shall not have any impact on the effectiveness of data processing transactions that occurred in the past.</p>
</div>
</section>
  <section class="Textbox Textbox-small">
    <%= partial 'updates' %>
  </section>
</main>

