<main>
<section>
<div class="container">
<h1>General Terms and Conditions</h1>

<h2 id="information-pursuant-to--5-tmg">Information pursuant to ยง 5 TMG</h2>

<h2>Table of Contents</h2>

<p class="detail">
<ol class="detail">
<li>Scope of Application</li>
<li>Conclusion of the Contract</li>
<li>Right to Cancel</li>
<li>Prices and Payment Conditions</li>
<li>Shipment and Delivery Conditions</li>
<li>Reservation of Proprietary Rights</li>
<li>Warranty</li>
<li>Applicable Law</li>
<li>Place of Jurisdiction</li>
<li>Alternative dispute resolution</li>
</ol>
</p>

<h2>1) Scope of Application</h2>

<p class="detail"><b>1.1</b>&thinsp;These General Terms and Conditions of the company Holderbaum GmbH (hereinafter referred to as &quot;Seller&rdquo;) shall apply to all contracts concluded between a consumer or a trader (hereinafter referred to as &quot;Client&rdquo;) and the Seller relating to all goods and/or services presented in the Seller's online shop. The inclusion of the Client&rsquo;s own conditions is herewith objected to, unless other terms have been stipulated.</p>

<p class="detail"><b>1.2</b>&thinsp;These General Terms and Conditions shall apply accordingly for contracts regarding the delivery of tickets, unless otherwise agreed expressly. These General Terms and Conditions deal only with the selling of tickets for certain events specified in the Seller's article description. They do not apply for the performance of those events. As far as the performance of events is concerned, the legal provisions as between the Client and the organizer as well as possibly the organizer&rsquo;s conditions deviating hereof, shall apply exclusively. In case, the Seller is not the organizer at the same time, he is not liable for the correct performance of the event, for which the respective organizer bears exclusive responsibility.</p>

<p class="detail"><b>1.3</b>&thinsp;A consumer pursuant to these Terms and Conditions is any natural person concluding a legal transaction for a purpose attributed neither to a mainly commercial nor a self-employed occupational activity. A trader pursuant to these Terms and Conditions is any natural or legal person or partnership with legal capacity acting in the performance of a commercial or self-employed occupational activity when concluding a legal transaction.</p>

<p class="detail"><b>1.4</b>&thinsp;Digital content in the sense of these General Terms and Conditions are all data not on a tangible medium which are produced in digital form and are supplied by the Seller by granting certain usage rights precisely defined in these General Terms and Conditions.</p>

<h2>2) Conclusion of the Contract</h2>

<p class="detail"><b>2.1</b>&thinsp;The product descriptions in the Seller&rsquo;s online shop do not constitute binding offers on the part of the Seller, but merely serve the purpose of submitting a binding offer by the Client.</p>

<p class="detail"><b>2.2</b>&thinsp;The Client may submit the offer via the online order form integrated into the Seller's online shop. In doing so, after having placed the selected goods and/or services in the virtual basket and passed through the ordering process, and by clicking the button finalizing the order process, the Client submits a legally binding offer of contract with regard to the goods and/or services contained in the shopping cart.</p>

<p class="detail"><b>2.3</b>&thinsp;The Seller may accept the Client&rsquo;s offer within five days,</p>

<ul class="detail">
<li>by transferring a written order confirmation or an order confirmation in written form (fax or e-mail); insofar receipt of order confirmation by the Client is decisive, or</li>
<li>by delivering ordered goods to the Client; insofar receipt of goods by the customer is decisive, or</li>
<li>by requesting the Client to pay after he placed his order.</li>
</ul>

<p class="detail">Provided that several of the aforementioned alternatives apply, the contract shall be concluded at the time when one of the aforementioned alternatives firstly occurs. Should the Seller not accept the Client&rsquo;s offer within the aforementioned period of time, this shall be deemed as rejecting the offer with the effect that the Client is no longer bound by his statement of intent.</p>

<p class="detail"><b>2.4</b>&thinsp;When submitting an offer via the Seller's online order form, the text of the contract is stored by the Seller after the contract has been concluded and transmitted to the Client in text form (e.g. e-mail, fax or letter) after the order has been sent. The seller shall not make the contract text accessible beyond this.</p>

<p class="detail"><b>2.5</b>&thinsp;Prior to submitting a binding order via the Seller&rsquo;s online order form, the Client may recognize input errors by reading attentively the information displayed on the screen. The enlargement function of the browser to enlarge the display on the screen may be an effective method for better recognizing input errors.<br />
The Client can correct all the data entered via the usual keyboard and mouse function during the electronic ordering process, until he clicks the button finalizing the ordering process.</p>

<p class="detail"><b>2.6</b>&thinsp;The German and the English language are exclusively available for the conclusion of the contract.</p>

<p class="detail"><b>2.7</b>&thinsp;Order processing and contacting usually takes place via e-mail and automated order processing. It is the Client&rsquo;s responsibility to ensure that the e-mail address he provides for the order processing is accurate so that e-mails sent by the Seller can be received at this address. Particularly, it is the Client`s responsibility, if SPAM filters are used, to ensure that all e-mails sent by the Seller or by third parties commissioned by the Seller with the order processing can be delivered.</p>

<h2>3) Right to Cancel</h2>

<p class="detail"><b>3.1</b>&thinsp;Consumers are entitled to the right to cancel.</p>

<p class="detail"><b>3.2</b>&thinsp;Detailed informations about the right to cancel are provided in the Seller&rsquo;s instruction on cancellation.</p>

<p class="detail"><b>3.3</b>&thinsp;Pursuant to section 312 g para. 2 no. 9 German Civil Code there is no right of cancellation, unless agreed otherwise, regarding service contracts in connection with leisure activities, if those contracts provide a specific performance deadline or period of time. Thus, the right of cancellation is also excluded for contracts dealing with the sale of tickets for scheduled recreational activities.</p>

<h2>4) Prices and Payment Conditions</h2>

<p class="detail"><b>4.1</b>&thinsp;Unless otherwise stated in the Seller&rsquo;s product description, prices indicated are total prices including the statutory sales tax. Delivery costs, where appropriate, will be indicated separately in the respective product description</p>

<p class="detail"><b>4.2</b>&thinsp;Payment can be made using one of the methods mentioned in the Seller&rsquo;s online shop.</p>

<p class="detail"><b>4.3</b>&thinsp;If prepayment by bank transfer has been agreed upon, payment is due immediately after conclusion of the contract, unless the parties have arranged a later maturity date</p>

<p class="detail"><b>4.4</b>&thinsp;When payments are made using a payment method offered by PayPal, handling of payments takes place via the payment service provider PayPal ((Europe) S.a. r.l. et Cie, S.C.A., 22-24 Boulevard Royal, L-2449 Luxembourg (hereinafter called &ldquo;PayPal&rdquo;) subject to the PayPal terms of use which can be viewed at: https://www.paypal.com/de/webapps/mpp/ua/useragreement-full.</p>

<p class="detail">In case the client has no PayPal account, the conditions applicable for payments without PayPal account will be effective. They can be viewed at: https://www.paypal.com/de/webapps/mpp/ua/privacywax-full</p>

<h2>5) Shipment and Delivery Conditions</h2>

<p class="detail"><b>5.1</b>&thinsp;Goods are generally delivered on dispatch route and to the delivery address indicated by the Client, unless agreed otherwise. During the processing of the transaction, the delivery address indicated in the Seller&rsquo;s order processing is decisive.</p>

<p class="detail"><b>5.2</b>&thinsp;Should the assigned transport company return the goods to the Seller, because delivery to the Client was not possible, the Client bears the costs for the unsuccessful dispatch. This shall not apply, if the Client exercises his right to cancel effectively, if the delivery cannot be made due to circumstances beyond the Client's control or if he has been temporarily impeded to receive the offered service, unless the Seller has notified the Client about the service for a reasonable time in advance.</p>

<p class="detail"><b>5.3</b>&thinsp;Personal collection is not possible for logistical reasons.</p>

<p class="detail"><b>5.4</b>&thinsp;Tickets will provided to the Client as follows:</p>

<ul class="detail">
<li>via download</li>
<li>by e-mail</li>
</ul>

<h2>6) Reservation of Proprietary Rights</h2>

<p class="detail">If the Seller provides advance deliveries, he retains title of ownership to the delivered goods, until the purchase price owed has been paid in full.</p>

<h2>7) Warranty</h2>

<p class="detail"><b>7.1</b>&thinsp;Should the object of purchase be deficient, statutory provisions shall apply.</p>

<p class="detail"><b>7.2</b>&thinsp;The Client is asked to notify any obvious transport damages to the forwarding agent and to inform the Seller accordingly. Should the Client fail to comply therewith, this shall not affect his statutory or contractual claims for defects.</p>

<h2>8) Applicable Law</h2>

<p class="detail">The law of the Federal Republic of Germany shall apply to all legal relationships between the parties under exclusion of the laws governing the international purchase of movable goods. For consumers, this choice of law only applies to the extent that the granted protection is not withdrawn by mandatory provisions of the law of the country, in which the consumer has his habitual residence.</p>

<h2>9) Place of Jurisdiction</h2>

<p class="detail">If the Client is a businessman, a legal entity of public law or a separate estate under public law with its seat in the territory of the Federal Republic of Germany, the Seller&rsquo;s place of business shall be the sole place of jurisdiction for all legal disputes arising from this contract.. If the Client is domiciled outside the territory of the Federal Republic of Germany, the Seller&rsquo;s place of business shall be the sole place of jurisdiction for all legal disputes arising from this contract provided that the contract or claims from the contract can be assigned to the Client&rsquo;s professional or commercial activities. In any event however, regarding the aforementioned cases the Seller is entitled to call the court responsible for the seat of the Client.</p>

<h2>10) Alternative dispute resolution</h2>

<p class="detail"><b>10.1</b>&thinsp;The EU Commission provides on its website the following link to the ODR platform: https://ec.europa.eu/consumers/odr.</p>

<p class="detail">This platform shall be a point of entry for out-of-court resolutions of disputes arising from online sales and service contracts concluded between consumers and traders.</p>

<p class="detail"><b>10.2</b>&thinsp;The Seller is neither obliged nor prepared to attend a dispute settlement procedure before an alternative dispute resolution entity.</p>

</section>
</main>
