<main>
  <section>
    <div class="centered">
      <h1>Think About: Tickets</h1>
      <p>
Tickets for the Think About! 2020 are currently not for sale. The early bird
sale will start around October/November 2019. 
      </p>
      <p>
If you don't want to miss the start of the early bird phase feel free to
subscribe to our newsletter.
      </p>
       <a href="https://newsletter.hrx.events/subscription/DUogKTFJF?email=" button>Subscribe to newsletter</a>
    </div>
  </section>
  <section class="ticket-benefits image-with-text">
    <div>
      <article>
        <h3>Each ticket enables:</h3>
        <ul>
          <li>a full-time <a href="/consensus.html#awareness">awareness team</a> on site</li>
          <li>child-care for attending parents</li>
          <li>at least 15 solidarity tickets</li>
          <li>equal payment for helpers &amp; speakers</li>
          <li>recording of talks</li>
          <li><a href="consensus.html#privacy">responsible</a> handling of user data</li>
        </ul>
      </article>
      <figure>
        <img src="/images/benefits.svg" alt="Monster Friends">
      </figure>
    </div>
    <a button href="/blog/10-reasons.html">Learn more ...</a>
  </section>
</main>

