<main>
  <section class="Textbox Textbox-small">
    <div class="container">
      <h1>Think About: Tickets</h1>
      <p>
        Grab your Ticket for the second installment of the Think About! Conference!
      </p>
      <p>
        <b><a href="/blog/corona.html">Think About! 2020 canceled</a>.<br>See you in 2021</b>
      </p>
    </div>
  </section>
  <section class="Textbox">
    <div class="container">
      <div class="Textbox-text-with-image Textbox-right Textbox-fold-image-down">
        <figure>
          <img src="/images/benefits.svg" alt="Monster Friends">
        </figure>
        <article>
          <h3>Each ticket enables:</h3>
          <ul class="BorderedList">
            <li>a full-time <a href="/consensus.html#awareness">awareness team</a> on site</li>
            <li>child-care for attending parents</li>
            <li>at least 15 solidarity tickets</li>
            <li>equal payment for helpers &amp; speakers</li>
            <li>recording of talks</li>
            <li><a href="consensus.html#privacy">responsible</a> handling of user data</li>
          </ul>
        </article>
      </div>
      <a button href="/blog/10-reasons.html">Learn more</a>
    </div>
  </section>
  <section class="tickets">
    <div class="container">
      <% if selling_tickets? %>
      <h1>Ticket Options</h1>
      <a target="_blank"><section ticket="early" disabled>
        <h1>Early Bird Ticket</h1>
        <article>
          <header>
            <del>500 €</del>
            <price>380 €</price>
            <p>Event Canceled</p>
          </header>
          <ul>
            <li>2-Day ticket for 24 talks</li>
            <li>Amazing organic food</li>
            <li>Unlimited popcorn &amp; drinks</li>
          </ul>
        </article>
      </section></a><a target="_blank"><section ticket="regular" disabled>
        <h1>Regular Ticket</h1>
        <article>
          <header>
            <price>500 €</price>
            <p>Event Canceled</p>
          </header>
          <ul>
            <li>2-Day ticket for 24 talks</li>
            <li>Amazing organic food</li>
            <li>Unlimited popcorn &amp; drinks</li>
          </ul>
        </article>
      </section></a><a target="_blank"><section ticket="supporter" disabled>
        <h1>Supporter Ticket</h1>
        <article>
          <header>
            <price>750 €</price>
            <p>Event Canceled</p>
          </header>
          <ul>
            <li>2-Day ticket for 24 talks</li>
            <li>Amazing organic food</li>
            <li>Unlimited popcorn &amp; drinks</li>
            <li>Enable us to give tickets away &#42;</li>
          </ul>
        </article>
      </section></a>
      <!--
      <h1>Workshop Tickets</h1>
      <a target="https://pretix.eu/hrx/thinkabout2020/"><section ticket="regular">
        <h1>Workshop 1 something</h1>
        <article>
          <header>
            <price>150 €</price>
            <p>Max. 30 Participants</p>
          </header>
          <ul>
            <li>2-Day ticket for 24 talks</li>
            <li>Amazing organic food</li>
            <li>Unlimited popcorn &amp; drinks</li>
          </ul>
        </article>
      </section></a>
      <a target="https://pretix.eu/hrx/thinkabout2020/"><section ticket="regular">
        <h1>Workshop 2 something</h1>
        <article>
          <header>
            <price>150 €</price>
            <p>Max. 30 Participants</p>
          </header>
          <ul>
            <li>2-Day ticket for 24 talks</li>
            <li>Amazing organic food</li>
            <li>Unlimited popcorn &amp; drinks</li>
          </ul>
        </article>
      </section></a>
      -->
      <% else %>
      <h1>Ticket Sale will start soon</h1>
      <a> 
      <section ticket="early" disabled>
        <h1>Early Bird Ticket</h1>
        <article>
          <header>
            <del>500 €</del>
            <price>380 €</price>
            <p>Sale starts on <br/> 15/11/2019</p>
          </header>
        </article>
      </section></a><a><section ticket="regular" disabled>
        <h1>Regular Ticket</h1>
        <article>
          <header>
            <price>500 €</price>
            <p>Sale starts on <br/> 15/02/2020</p>
          </header>
        </article>
      </section></a><a><section ticket="supporter" disabled>
        <h1>Supporter Ticket</h1>
        <article>
          <header>
            <price>750 €</price>
            <p>Sale starts on <br/> 15/11/2019</p>
          </header>
        </article>
      </section></a>
      <% end %>
    </div>
  </section>
  <section class="Textbox Textbox-small">
    <%= partial 'updates' %>
  </section>
</main>

