<main>
  <section class="Textbox Textbox-small">
    <div class="container">
      <h1>Think About: Tickets</h1>
      <p>
Early Bird ticket sale for the Think About! 2020 will start at the <b>15th of November 2019 at 8am CET</b>.
      </p>
      <p>
If you don't want to miss the start of the early bird phase feel free to subscribe to our newsletter:
      </p>
      <%= partial 'newsletter_form' %>
    </div>
  </section>
  <section class="Textbox">
    <div class="container">
      <div class="Textbox-text-with-image Textbox-right Textbox-fold-image-down">
        <figure>
          <img src="/images/benefits.svg" alt="Monster Friends">
        </figure>
        <article>
          <h3>Each ticket enables:</h3>
          <ul class="BorderedList">
            <li>a full-time <a href="/consensus.html#awareness">awareness team</a> on site</li>
            <li>child-care for attending parents</li>
            <li>at least 15 solidarity tickets &#42;</li>
            <li>equal payment for helpers &amp; speakers</li>
            <li>recording of talks</li>
            <li><a href="consensus.html#privacy">responsible</a> handling of user data</li>
          </ul>
        </article>
      </div>
      <a button href="/blog/10-reasons.html">Learn more</a>
    </div>
  </section>
  <section class="tickets">
    <div class="container">
      <h1>Ticket Sale will start soon</h1>
      <a> 
      <section ticket="early" disabled>
        <h1>Early Bird Ticket</h1>
        <article>
          <header>
            <del>500 €</del>
            <price>380 €</price>
            <p>Sale starts on <br/> 15/11/2019</p>
          </header>
        </article>
      </section></a><a><section ticket="regular" disabled>
        <h1>Regular Ticket</h1>
        <article>
          <header>
            <price>500 €</price>
            <p>Sale starts on <br/> 15/02/2020</p>
          </header>
        </article>
      </section></a><a><section ticket="supporter" disabled>
        <h1>Supporter Ticket</h1>
        <article>
          <header>
            <price>750 €</price>
            <p>Sale starts on <br/> 15/11/2019</p>
          </header>
        </article>
      </section></a>
    </div>
    <!--
    <a href="#" button>Get Your Ticket</a>
    <span note>We use a hosted version of the Open Source Software <a href="https://pretix.eu/">Pretix</a></span>
    -->
  </section>
  <section>
    <div class="centered">
      <h1 id="solidarity">&#42; You can’t afford a ticket? </h1>

      <p>
      No worries. Drop us a short message with an introduction
      and the price you can afford.
      We will get back to you as soon as possible.
      </p>

      <a href="mailto:kontakt@think-about.io?subject=Solidarity Ticket" button>Get in Touch</a>

      <figure>
        <img src="/images/solidarity.svg" alt="A Monster giving away free tickets.">
      </figure>
    </div>
  </section>
  <section class="Textbox Textbox-small">
    <%= partial 'updates' %>
  </section>
</main>

